/*****************************************************************************/
/* Global CSS Styles */
/*****************************************************************************/

// BOURBON

@import "bourbon/bourbon";
@import "responsive.scss";

// GLOBAL SCSS

$suprsub-green: hsl(120, 75%, 43%);
$suprsub-complement: complement($suprsub-green);
$suprsub-washed-out: desaturate($suprsub-green, 0.5);
$white-translucent: rgba(255, 255, 255, 0.85) !important;
$background-color: rgb(148, 153, 148);
$rem-base: 14px;
$base-font-size: $rem-base;
$base-line-height: 150%;
$row-width: 72.5em;
$total-columns: 16;

$primary-color: $suprsub-green;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$white-text: rgb(245, 245, 245); 

// CUSTOM COLOURS

.ui.segment.semitranslucent,
.ui.segment.inverted.semitranslucent {
	background-color: rgba(0, 0, 0, 0.7);
	color: $white-text;

	* {
		color: $white-text;
	}
}

.ui.segment.translucent,
.ui.segment.inverted.translucent {
	background-color: rgba(0, 0, 0, 0.4);
	color: $white-text;

	* {
		color: $white-text;
	}
}

.ui.inverted.darkgreen {
	background-color: $suprsub-green;
}

// CUSTOM PROPERTY HELPERS

.bold {
	font-weight: bold;
}

.centered {
	text-align: center;
}

// TOPBAR SCSS
$topbar-bg-color: $suprsub-green;
$topbar-bg: $topbar-bg-color;
$topbar-height: 45px;

#topbar {
	top: 0;
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
    height: 45px;

    i.big {
		font-size: $topbar-height * 0.8;
		color: $white-translucent;
		cursor: pointer;
		&:hover {
			color: white;
		}
	}
}

#topbar .item {
	height: 100%;
}

#topbar+div+div {
	margin-top: 50px;
}

#miniTopbar+div+div {
	margin-top: 60px;
}

// @import "./third-party/foundation-scss/foundation";

@font-face {
    font-family: 'Collegiate';
	src: url('fonts/SF_Collegiate.woff') format('woff'), url('fonts/SF_Collegiate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

html {
	font-size: 14px;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-transition: translate3d(0,0,0);
    background-color: $background-color;
}

// SEMANTIC ELEMENTS

.checkbox.field {
	>* {
		display: inline-block;	
	}
}

.ui.toggle.checkbox.neutral {
	width: 3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.ui.toggle.checkbox.neutral .box:after, .ui.toggle.checkbox.neutral label:after ,
.ui.toggle.checkbox.neutral input:checked + .box:after, .ui.toggle.checkbox.neutral input:checked + label:after {
	background-color: rgb(45, 131, 131);
}

.checkboxLabel {
	cursor: pointer;
}

.ui.form.tight .field {
	margin-bottom: 0.5em;
	line-height: 1.3em;
}

.ui.tight {
	line-height: 1.2;
	>* {
		line-height: 1.2;
	}
}

// MAP MARKERS

.awesome-marker-icon-suprsub-green {
	background-image: url('images/suprsub-soft.png');
}

.awesome-marker>i.icon {
	margin: 10px 0 0 0;
	font-size: 1.25em;
	opacity: 1;
}

#wrapper *:not(i):not(.suprsubFont):not(.suprsubHeader) {
	font-family: Arial, sans-serif;
}

#wrapper {
	-webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    height: 100%;
}

.ui.input>[type="number"] {
	line-height: 1.33;
	height: auto;
}

.gap.row {
	margin-top: 1em;
}

.ui.whitetranslucent {
	background-color: $white-translucent
}

.ui.form .ui.input input {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	height: 2.75em;
	height: calc(2.6em + 2px);
}

.ui.buttons.withLabel, .ui.button.withLabel {
	margin-top: 1.5em;
	height: 2.75em;
	height: calc(2.6em + 2px);
}

.no-padding {
	padding: 0 !important;
}

/* .full-height {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;	
} */

.vertical-center:before {
    @extend .full-height;	
}

.vertical-center>* {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.webicon {
	margin: 0 0.25em 0 0.25em !important;
}

.float-right {
	float: right;
}

// ACCEPTED FORM STATES

.ui.form .fields.accepted .field label,
.ui.form .field.accepted label,
.ui.form .fields.accepted .field .input,
.ui.form .field.accepted .input,
.ui.form .field.accepted .selection {
  color: transparentize($suprsub-green, 0.4);
}

.ui.form .fields.accepted .field .corner.label,
.ui.form .field.accepted .corner.label {
  border-color: transparentize($suprsub-green, 0.4);
  color: #FFFFFF;
}

.ui.form .fields.accepted .field textarea,
.ui.form .fields.accepted .field input,
.ui.form .field.accepted textarea,
.ui.form .field.accepted input,
.ui.form .field.accepted .selection {
  background-color: #FAFAFA;
  border-color: transparentize($suprsub-green, 0.8);
  border-left: none;
  color: $suprsub-green;
  padding-left: 1.2em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0.3em 0em 0em 0em $suprsub-green inset;
  box-shadow: 0.3em 0em 0em 0em $suprsub-green inset;

  &:focus {
	  -webkit-appearance: none;
	  -webkit-box-shadow: 0.3em 0em 0em 0em #FF5050 inset;
	  box-shadow: 0.3em 0em 0em 0em #FF5050 inset;  	
  }
}