<template name="Player">
	<div id="main-background-image"></div>
	<div class="container">
		<div class="flexbox v-stretch wrap equal-height">
			<div class="size-1 w-1-2 grow-1 shrink-1">
				{{> playerForm profile}}
			</div>
			<div class="size-1 w-1-2 m-1-2 collapse-for-small grow-1 shrink-1">
				{{> availabilityVenues}}
			</div>
			<div class="size-2 w-1-1">
				<div class="ui segment content whitetranslucent">
					<div class="flexbox reverse-for-phone v-stretch">
						<div class="flex-display size-1 w-1-4 m-1-5">
							{{> defineBounds profile}}
						</div>
						<div class="ui vertical divider show-for-tablet-up" style="left: 26%"><i class="map icon"></i></div>
						<div class="size-3 w-3-4 m-2-3 collapse-for-small ">
							<div id="mapContainer">
								{{> pitchMap circle=true}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

	<template name="playerForm">
		<form class="ui form segment content whitetranslucent flexbox wrap v-space-between">
		  		<div class="size-1 w-auto m-1-5 grow-1">
			    	<div class="field">
			      		<label>First Name</label>
			      		<div class="ui input">
			      			<input placeholder="First Name" type="text" value="{{first_name}}" data-field="first_name"/>
			      		</div>
			    	</div>
		    	</div>
		  		<div class="size-1 w-auto m-1-5 grow-1">
				    <div class="field">
				      	<label>Surname</label>
				      	<div class="ui input" id="surname">
				      		<input placeholder="Surname" type="text" value="{{last_name}}" data-field="last_name"/>
				      	</div>
				    </div>
			    </div>
				{{> playerDropdowns this}}
		</form>
	</template>

		<template name="playerDropdowns">
			{{#each dropdowns}}
			  	<div class="size-1 w-auto m-1-5 grow-1">
			    	<div class="field">
			      		<label>{{label}}</label>
						<div class="ui fluid selection dropdown" data-field="{{field}}">
							<input type="hidden">
							<div class="text">Select</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								{{#each data}}<div class="item" data-value="{{this.code}}">{{this.label}}</div>{{/each}}
							</div>
						</div>
			    	</div>
				</div>
			{{/each}}
		</template>

	<template name="availabilityVenues">
		<div class="ui segment content whitetranslucent noGap height280" id="tabSpace">
			<div class="ui tabular menu">
				<a class="{{#if tabChoice 'playerTab' 'availability'}}active {{/if}}item" data-tab="availability" title="Set your availability throughout the week">
					Availability
				</a>
				<a class="{{#if tabChoice 'playerTab' 'pitchData'}}active {{/if}}item" data-tab="pitchData" title="List the venues within your selected home area">
					Selected Venues
				</a>
			</div>
			{{#if tabChoice 'playerTab' 'pitchData'}}
				{{> pitchData}}
			{{/if}}
			{{#if tabChoice 'playerTab' 'availability'}}
				{{> availability}}
			{{/if}}
		</div>
	</template>

		<template name="pitchData">
			<table class="ui darkgreen table segment" id="pitchTable">
				<thead><tr><th class="tableLocation">Location Name</th></tr></thead>
				<div id="pitchTableDiv">
					<tbody>
						{{#each getPitches}}
							<tr><td class="tableLocation" id="{{this._id}}">{{this.prettyLocation}}</td></tr>
						{{/each}}
					</tbody>
				</div>
			</table>
		</template>

		<template name="availability">
			<div  id="availabilityTable">
				<table class="ui green unstackable table segment">
					<thead>
						<tr>
							<th class="tableSpaceBlock"></th>
							{{#each days}}
								<th class="dayHeader rotated_cell">
									<div class="rotate">{{this.name}}</div>
								</th>
							{{/each}}
						</tr>
					</thead>
					<tbody>
						{{#each periods}}
							<tr>
								<td class="tablePeriod">{{name}}</td>
								{{#each days ind}}
									<td class="tableCheckboxHolder">
										<div class="ui">
											<div class="checkboxDiv {{#if this.value}}checked{{/if}}" data-period="{{this.code}}" data-checked={{this.value}}></div>
										</div>
									</td>
								{{/each}}
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</template>

	<template name="defineBounds">
		<form class="ui form segment content whitetranslucent flexbox h-space-between v-stretch column">
				<h3 class="ui header w-1-4 shrink-1 grow-1 flexbox v-center">
					<i class="maximize icon w-1-4"></i>
					<div class="content w-3-4">Neighbourhood Size<div class="sub header">use the slider to change the size of the area</div></div></h3>
				<div class="w-3-4 grow-3 flexbox reverse-for-phone v-stretch">
					<div class="slider-holder w-1-3 grow-0 shrink-0 flexbox v-stretch h-center">
						<div data-field="radius" class="slider"></div>
					</div>
					<div id="distanceWriteLabel" class="w-2-3 grow-1 shrink-1 flexbox column reverse-for-phone h-center">
						<div class="grow-0 w-auto">Area size</div>
						<div class="grow-0 w-auto" data-info="radius">{{toKm player.radius}} km</div>
					</div>
				</div>
		</form>
	</template>

	<template name="pitchMapLarge">
		<div id="mapHolder">
			<div id="map">
			</div>
			<div id="mapCover" style="z-index: -50; opacity: 0;">
				<div>
				LOADING...
				</div>
			</div>
		</div>
	</template>