/*****************************************************************************/
/* Player: Style */
/*****************************************************************************/
@import "../../app";

.radius {
	position: absolute;
	right: 2em;
	top: 55%;
}
/* 
.height280 {
	height: 280px;
} */

#pitchTableDiv {
	height: 131px;
	overflow-y: scroll;
}

.checkboxDiv {
	width: 30px;
	height: 20px;
	border-radius: 5px;
	background-color: grey;
	cursor: pointer;

	&.checked {
		background-color: $suprsub-green;
	}

}