#playerForm {
	line-height: 2em;
}

#pitchMap.large {
	width: 800px;
	margin-left: -400px;
	height: 440px;
}

#areaDetails form {
	height: 400px;
}

#areaDetails fieldset div {
	height: 300px;
	width: 200px;
}

#areaDetails h3, #areaDetails label {
	text-align: center;
}

#areaDetails label {
	margin-left: -50px;
	margin-top: -25px;
}

#distanceWrite {
	width: 250px;
	margin-top: 125px;
	margin-left: 50px;
	transform:rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
	-webkit-appearance: none;
}

.ui.slider.range input[type="range"] {
	-webkit-appearance: none;
	border-width: 1px;
	border-style: solid;
	border-radius: 80rem;
	border-color: rgba(0, 0, 0, 0.2);
	padding: 3px 5px;
}

.ui.slider.range input[type="range"]::-moz-range-track {
	background: none;
	border: none;
}

.ui.slider.range input[type="range"]::-ms-track {
	border: none;
	color: transparent;
	padding: 3px 5px;	
}

.ui.slider.range input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: rgb(27, 192, 27);
	border-radius: 80rem;
	height: 1.2em;
	width: 1.2em;
}

.ui.slider.range input[type="range"]::-moz-range-thumb {
	background: rgb(27, 192, 27);
	border-color: rgb(27, 192, 27);
	border-radius: 80rem;
	height: 1.2em;
	width: 1.2em;
}

.ui.slider.range input[type="range"]::-ms-thumb {
	background: rgb(27, 192, 27);
	border-color: rgb(27, 192, 27);
	border-radius: 80rem;
	height: 1.2em;
	width: 1.2em;
}

.ui.slider.range input[type="range"]::-ms-fill-upper, .ui.slider.range input[type="range"]::-ms-fill-lower {
	background: none;
}

.ui.slider.range input[type="range"]::-ms-ticks-after, .ui.slider.range input[type="range"]::-ms-ticks-before, .ui.slider.range input[type="range"]::-ms-tooltip {
	display: none;
}

.ui.slider.range input[type="range"]:focus {
	outline: none;
}

#distanceWriteLabel {
	display: inline;
	position: absolute;
	top: 50%;
	left: 25%;
}

input[type=range]:active::-moz-range-thumb {
  border: 1px solid ##567d33;
  box-shadow: 0 0 0 2px ##4c7627;
}

#pitchTable thead {
	display: block;
	width: 100%;
}

#pitchTable tbody {
	display: block;
	height: 165px;
	overflow-y: scroll;
	width: 100%;
}

#pitchTable thead tr {
	width: 100%;
}

.height280 {
	min-height: 280px;
}

#linkTriple {
	margin: 0 0.875em;
}
#linkTriple li {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow-x: hidden;
}

.tableProvider {
	width: 280px;
}

.tableLocation {
	width: 500px;
}

.tableSpaceBlock {
	width: 80px;
}

.tablePeriod {
	font-weight: bold;
}

.tableCheckboxHolder {
	text-align: center;
}
	
.tableCheckboxHolder>div {
	margin: auto;
	left: 5px;
}

/*For small and medium width screens*/
@media only screen and (max-width: 64em) {
 	.height280 {
 		min-height: 0;
 	}
 	#distanceWrite {
 		width: 90%;
		margin-top: 1em;
		margin-left: 5%;
		transform:rotate(0);
		-ms-transform:rotate(0); /* IE 9 */
		-webkit-transform:rotate(0); /* Safari and Chrome */
		-webkit-appearance: none;
	}
	#distanceWriteLabel {
		/*margin-left: 5em;*/
		text-align: center;
		position: static;
	}
	#distanceWriteLabel h3, #distanceWriteLabel h4 {
		display: inline;
	}
	#distanceWriteLabel h3 {
		margin-left: 1em;
	}
	#areaDetails form {
		height: auto;
	}
	#pitchMap.large {
		margin-top: 1em;
	}
}

/*For small width screens only*/
@media only screen and (max-width: 40em) {
 	#pitchMap.large {
	width: auto;
	margin-left: 0;
	}

	
}

/*For medium width screens only*/
@media only screen and (min-width: 40.1em) and (max-width: 64em) {
	#linkTriple li div {
		font-size: 0.75em;
	}
}