html {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.ui.darkgreen.active.item {
  border-color: #4C7627 !important;
  color: #4C7627 !important;
}
.ui.inverted.darkgreen {
  background-color: #4C7627;
}
.ui.inverted.darkgreen .active.item:after {
  background-color: #4C7627;
}
.ui.inverted.darkgreen {
	color: #ffffff;
}

#login-background-image {
	position: fixed;
	top: 0;
	left: 0;
	height:100vh;
	width:100vw;
	background: url('images/footypitch.png') no-repeat center center fixed;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#main-background-image {
	position: fixed;
	top: 0;
	left: 0;
	height:100vh;
	width:100vw;
	background-color: #c7e5ac;
	overflow-y: scroll;
	background: url('images/grass.png') no-repeat center center fixed;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.quote {
	padding-left: 3em;
	text-indent: -5em;
}

.quotee {
	text-align: right;
	margin-right: 5em;
}

.semitranslucent {
	background-color: rgba(0, 0, 0, 0.7) !important;	
}

.translucent {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.clear {
	background-color: rgba(0, 0, 0, 0) !important;
}

#topbar {
	top: 0;
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
}

#topbar+div+div {
	margin-top: 50px;
}

.ui.menu .darkgreen.active.item,
.ui.darkgreen.menu .active.item {
  border-color: #4C7627 !important;
  color: #4C7627 !important;
}
.ui.inverted.darkgreen.menu {
  background-color: #4C7627;
}
.ui.inverted.darkgreen.pointing.menu .active.item:after {
  background-color: #4C7627;
}

#loginBox {
	position: absolute;
    top: 50%;
    width: 100%;
    height: 500px;
    margin-top: -250px;
}

#loggedInBox {
	padding-top: 50px;
	width: 100%;
	height: auto;
}

#toplogo-image {
	position:absolute;
	left: 50%;
	top: 4px;
    background: url('images/SuprSubLogo_NameSmall.jpeg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	border-radius: 4px;
	height: 29px;
	width: 125px;
	margin-left: -72px;
}

#socialbuttons .button {
	text-transform: none;
}

#mainbox .column .segment {
	border-radius: 0px;
	margin: 0px auto;
}
#mainbox .column .segment:first-child {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
#mainbox .column .segment:last-child {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

#errorBox {
	display: block;
}

.ui.maingrid {

}

#pitchMap {
	margin-top: 0em;
	left: 50%;
	background: #fff;
	box-shadow: 0 0 20px #999;
	border-radius: 2px;
}

#pitchMap.large {
	width: 800px;
	margin-left: -400px;
	height: 440px;
}

#pitchMap.small {
	width: 500px;
	margin-left: -250px;	
	height: 325px;
}

#areaDetails {
	height: 475px;
}

#areaDetails form {
	height: 400px;
}

#areaDetails fieldset div {
	height: 300px;
	width: 200px;
}

#areaDetails h3, #areaDetails label {
	text-align: center;
}

#areaDetails label {
	margin-left: -50px;
	margin-top: -25px;
}

#distanceWrite {
	width: 250px;
	margin-top: 125px;
	margin-left: 50px;
	transform:rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
	-webkit-appearance: none;
}

#distanceWrite::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
}

#distanceWrite::-moz-range-thumb {
  cursor: pointer;
}

#distanceWrite {
  border-radius: 6px;
  border: 1px solid #a5a8a8;
  background: #d3d7d7;
  height: 1rem;
  border-radius: 30px;
}

#distanceWrite::-moz-range-track {
  border-radius: 6px;
  border: 1px solid #a5a8a8;
  background: #d3d7d7;
  height: 1rem;
  border-radius: 30px;
}

#distanceWrite::-webkit-slider-thumb {
  height: 3rem;
  width: 2rem;
  border: 1px solid rgba(0,0,0,0.36);
  border-radius: 6px;
  /* Is base64 the way to go ? */
  /* I don't imagine simulating vertical stripes w/ gradients */ background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
  background-size: 7px 18px;
  box-shadow: inset 0 1px white;
}

#distanceWrite::-moz-range-thumb {
  height: 3rem;
  width: 2rem;
  border: 1px solid rgba(0,0,0,0.36);
  border-radius: 6px; background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
  background-size: 7px 18px;
  box-shadow: inset 0 1px white;
}

#distanceWrite:active::-webkit-slider-thumb {
  border: 1px solid ##567d33;
  box-shadow: 0 0 0 2px #4c7627;
}

input[type=range]:active::-moz-range-thumb {
  border: 1px solid ##567d33;
  box-shadow: 0 0 0 2px ##4c7627;
}

#cancelOrSave {
	margin-left: 10px;
	text-align: center;
}

#pitchTable {
	width: 100%;
}

#pitchTable thead {
	display: block;
	width: 100%;
}

#pitchTable tbody {
	display: block;
	height: 150px;
	overflow-y: scroll;
	width: 100%;
}

#tabSpace {
	min-height: 265px;
}

.tableProvider {
	width: 280px;
}
.tableLocation {
	width: 280px;
}

#teamForm .ui.toggle.checkbox {
	margin-top: 1.5em;
}

#matches div div div {
	max-height: 13em;
	overflow-y: scroll;
}