html {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.darkgreen,
.ui.darkgreen.active.item {
  border-color: #4C7627 !important;
  color: #4C7627 !important;
}
.ui.inverted.darkgreen {
  background-color: #4C7627;
}
.ui.inverted.darkgreen .active.item:after {
  background-color: #4C7627;
}

#login-background-image {
	position: fixed;
	top: 0;
	left: 0;
	height:100vh;
	width:100vw;
	background: url(footypitch.png) no-repeat center center fixed;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#main-background-image {
	position: fixed;
	top: 0;
	left: 0;
	height:100vh;
	width:100vw;
	background-color: #c7e5ac;
}

.quote {
	padding-left: 3em;
	text-indent: -5em;
}

.quotee {
	text-align: right;
	margin-right: 5em;
}

.semitranslucent {
	background-color: rgba(0, 0, 0, 0.7) !important;	
}

.translucent {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.clear {
	background-color: rgba(0, 0, 0, 0) !important;
}

#topbar {
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
}

.ui.menu .darkgreen.active.item,
.ui.darkgreen.menu .active.item {
  border-color: #4C7627 !important;
  color: #4C7627 !important;
}
.ui.inverted.darkgreen.menu {
  background-color: #4C7627;
}
.ui.inverted.darkgreen.pointing.menu .active.item:after {
  background-color: #4C7627;
}

#loginBox {
	position: absolute;
    top: 50%;
    width: 100%;
    height: 500px;
    margin-top: -250px;
}

#loggedInBox {
	padding-top: 50px;
	width: 100%;
	height: auto;
}

#toplogo-image {
	position:absolute;
	left: 50%;
	top: 5px;
	padding: 0.3em;
	height: 2em;
	background-image:url('suprsub.png');
	background-size:contain;
	background-repeat:no-repeat;
	height: 100%;
	width: 100px;
	margin-left: -50px;
}

#socialbuttons .button {
	text-transform: none;
}

#mainbox .column .segment {
	border-radius: 0px;
	margin: 0px auto;
}
#mainbox .column .segment:first-child {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
#mainbox .column .segment:last-child {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

#errorBox {
	display: block;
}

.ui.maingrid {
	margin-top: 50px;
}

#pitchMap {
	margin-top: 1em;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	height: 450px;
	background: #fff;
	box-shadow: 0 0 20px #999;
	border-radius: 2px;
}

#areaDetails {
	height: 475px;
}

#areaDetails fieldset p {
	height: 350px;
	width: 200px;
}

#areaDetails h3 {
	text-align: center;
}

#distanceWrite {
	width: 300px;
	margin-top: 150px;
	transform:rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */	
}