@font-face {
	font-family: "Collegiate";
	src: url('fonts/SF_Collegiate.ttf');
}

html {
	font-size: 14px;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

#wrapper *:not(i):not(.suprsubFont):not(.suprsubHeader) {
	font-family: 'Molengo', sans-serif;
}

.suprsubFont {
	vertical-align: text-bottom;
	font-weight: normal;
	font-family: "Collegiate";
}

.suprsubHeader {
	position: relative;
	font-size: 100px;
	top: 0px;
}

.backgroundShadowBig {
	color: ghostwhite;
	text-shadow: rgba(0, 0, 0, .9) 0.01em 0.01em 0.01em, rgba(0, 0, 0, 0.7) -0.01em -0.01em 0.01em;	
}

.backgroundShadowSmall {
	color: ghostwhite;
	text-shadow: rgba(0, 0, 0, .9) 0.05em 0.05em 0.05em, rgba(0, 0, 0, 0.7) -0.05em -0.05em 0.05em;	
}

.gap.columns {
	margin-bottom: 0.9375em;
}

.gap.row {
	margin-top: 0.9375em;	
}

.rightList {
	text-align: right;
	font-size: 1.5em;
	list-style: none;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 1.5em;
	margin-right: 0px;
	margin-top: 1em;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0.5em;
	padding-top: 0px;
}

.rightList li {
	display: list-item;
	position: relative;
	line-height: 1.25em;
	padding: 0.3em 0;
}

.ui.attached.button {
	width: 100%;
}
.ui.right.attached.button .content {
	width: 80%;
	margin-left: 10%;
}
.ui.attached.withLabel.button {
	margin-top: 1em;
}

.ui.toggle.checkbox.neutral .box:after, .ui.toggle.checkbox.neutral label:after ,
.ui.toggle.checkbox.neutral input:checked + .box:after, .ui.toggle.checkbox.neutral input:checked + label:after {
	background-color: rgb(45, 131, 131);
}

.checkboxLabel {
	margin-top: 1.5em !important;
	display: inline-block;
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
.checkboxLabel + .checkbox {
	vertical-align: text-bottom;
	margin-left: 10px;
}
.checkboxLabel:hover {
	color: rgba(0, 0, 0, 0.8);	
}
.checkboxLabel:focus + label {
	color: rgba(0, 0, 0, 0.8);	
}
.checkboxLabel:first-child {
	margin-left: 0.5em;
}

label > br {
	line-height: 1.5em;
}

.ui.form .centered.field {
	margin-left: calc(50% - 50px);
}

#socialBox {
	position:fixed;
	z-index: 1;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4) inset;
	background-color: hsl(120, 75%, 43%); !important;
	top: 50%;
	margin-top: -100px;
	right: 5px;
	border-radius: 5px;
	padding: 5px;
}

#socialBox>div {
	border-radius: 3px;
	background-color: antiquewhite;
	box-shadow: 0px 0px 2px 1px rgba(0, 0 0, 0.4);
	height: 100%;
}

#socialBox .webicon {
	margin: 5px;
}

.shortDivider {
	position: relative;
	margin: 1rem 0rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	height: 0;
	padding: 0 !important;
	width: 25%;
	margin-left: 75%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui.darkgreen.active.item {
  	border-color: hsl(120, 75%, 43%); !important;
  	color: hsl(120, 75%, 43%); !important;
}
.ui.inverted.darkgreen {
  	background-color: hsl(120, 75%, 43%);
}
.ui.inverted.darkgreen .active.item:after {
  	background-color: hsl(120, 75%, 43%);
}
.ui.inverted.darkgreen {
	color: #ffffff;
}

.ui.positive.button {
	background-color: hsl(120, 75%, 43%) !important;
}
.ui.positive.button:hover {
	background-color: hsl(120, 80%, 48%) !important;	
}

.whitetranslucent {
	background-color: rgba(255, 255, 255, 0.85) !important;
}

.rotate {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	margin-top:-25px;
}
.rotated_cell {
	height:90px;
	vertical-align:bottom
}

.fadeBox {
	position: absolute;
	border-radius: 5px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#login-background-image {
	position: fixed;
	top: 0;
	left: 0;
	height:100vh;
	width:100vw;
	background: url('images/footypitch.png') no-repeat center center fixed;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#main-background-image {
	position: fixed;
	top: 0;
	left: 0;
	height:100vh;
	width:100vw;
	background-color: #c7e5ac;
	overflow-y: scroll;
	background: url('images/footygame2.jpeg') no-repeat center center fixed;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.quote {
	font-size: 1.75em;
	padding-left: 5em;
	text-indent: -5em;
}

.quotee {
	text-align: right;
	margin-right: 2em;
}

.semitranslucent {
	background-color: rgba(0, 0, 0, 0.7) !important;	
}

.translucent {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.clear {
	background-color: rgba(0, 0, 0, 0) !important;
}

#topbar {
	top: 0;
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
}

#topbar+div+div {
	margin-top: 50px;
}

.darkgreen {
  color: hsl(120, 75%, 43%); !important;
}

.darkgreenshadow {
	text-shadow: 0 0 10px rgba(63, 255, 63, 0.4), 0 0 5px rgba(0, 0, 0, 0.1);
}

.ui.menu .darkgreen.active.item,
.ui.darkgreen.menu .active.item {
  border-color: hsl(120, 75%, 43%); !important;
  color: hsl(120, 75%, 43%); !important;
}
.ui.inverted.darkgreen.menu {
  background-color: hsl(120, 75%, 43%);
}
.ui.inverted.darkgreen.pointing.menu .active.item:after {
  background-color: hsl(120, 75%, 43%);
}

i.suprsub.icon {
	vertical-align: sub;
	margin-top: -0.25em;
	margin-bottom: -0.25em;
}

i.suprsub.icon:before{
	content: "S";
	font-family: "Collegiate";
	font-size: 175%;
}

#loginBox {
	position: absolute;
    width: 100%;
    height: 500px;
    margin-top: -250px;
}

#loggedInBox {
	padding-top: 50px;
	width: 100%;
	height: auto;
}

#toplogo-image {
	position:absolute;
	left: 50%;
	top: 4px;
    background: url('images/SuprSubLogo_NameSmall.jpeg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	border-radius: 4px;
	height: 29px;
	width: 125px;
	margin-left: -72px;
}

#toplogo-image-temp {
	position:absolute;
	left: 50%;
	top: 4px;
    background-color: #00db00;
    font-family: "Collegiate";
    color: white;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	border-radius: 4px;
	margin-left: -72px;
	color: white;
	font-size: 50px !important;
	padding: 5px 3px 0px 3px;
}

#socialbuttons .button {
	text-transform: none;
}

#mainbox .column .segment {
	border-radius: 0px;
	margin: 0px auto;
}
#mainbox .column .segment:first-child {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
#mainbox .column .segment:last-child {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

#errorBox {
	display: block;
}

.ui.maingrid {

}

#mainLogo {
	position: relative;
	width: 100%;
	background: url('images/SuprSubLogo_Name.jpeg') no-repeat center center;
	background-size: contain;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	padding-top: 60%;
}

.cleared.row {
	clear: both;
}

#pitchMap {
	margin-top: 0em;
	left: 50%;
	background: #fff;
	box-shadow: 0 0 20px #999;
	border-radius: 2px;
}

#pitchMap.large {
	width: 800px;
	margin-left: -400px;
	height: 440px;
}

#pitchMap.small {
	width: 470px;
	margin-left: -235px;	
	height: 325px;
}

#areaDetails {
	height: 475px;
}

#areaDetails form {
	height: 400px;
}

#areaDetails fieldset div {
	height: 300px;
	width: 200px;
}

#areaDetails h3, #areaDetails label {
	text-align: center;
}

#areaDetails label {
	margin-left: -50px;
	margin-top: -25px;
}

#distanceWrite {
	width: 250px;
	margin-top: 125px;
	margin-left: 50px;
	transform:rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
	-webkit-appearance: none;
}

#distanceWrite::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
}

#distanceWrite::-moz-range-thumb {
  cursor: pointer;
}

#distanceWrite {
  border-radius: 6px;
  border: 1px solid #a5a8a8;
  background: #d3d7d7;
  height: 1rem;
  border-radius: 30px;
}

#distanceWrite::-moz-range-track {
  border-radius: 6px;
  border: 1px solid #a5a8a8;
  background: #d3d7d7;
  height: 1rem;
  border-radius: 30px;
}

#distanceWrite::-webkit-slider-thumb {
  height: 3rem;
  width: 2rem;
  border: 1px solid rgba(0,0,0,0.36);
  border-radius: 6px;
  background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
  background-size: 7px 18px;
  box-shadow: inset 0 1px white;
}

#distanceWrite::-moz-range-thumb {
  height: 3rem;
  width: 2rem;
  border: 1px solid rgba(0,0,0,0.36);
  border-radius: 6px; background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
  background-size: 7px 18px;
  box-shadow: inset 0 1px white;
}

#distanceWrite:active::-webkit-slider-thumb {
  border: 1px solid ##567d33;
  box-shadow: 0 0 0 2px #4c7627;
}

#distanceWriteLabel {
	display: inline;
	position: absolute;
	top: 50%;
	left: 25%;
}

input[type=range]:active::-moz-range-thumb {
  border: 1px solid ##567d33;
  box-shadow: 0 0 0 2px ##4c7627;
}

#pitchTable {
	width: 100%;
}

#pitchTable thead {
	display: block;
	width: 100%;
}

#pitchTable tbody {
	display: block;
	height: 150px;
	overflow-y: scroll;
	width: 100%;
}

#tabSpace {
	min-height: 265px;
}

.tableProvider {
	width: 280px;
}
.tableLocation {
	width: 280px;
}

#teamForm .ui.toggle.checkbox {
	margin-top: 1.5em;
}

#matches {
	margin-bottom: 1.5em;
}

#matches div div div {
	max-height: 13em;
	overflow-y: scroll;
}

.modal {
	padding: 1em;
	max-width: 600px;
}

#availabilityTable {
	width: 525.5px;
	table-layout: fixed;
}

#availabilityTable tr {
	line-height: 1.4em;
}

.tableSpaceBlock {
	width: 80px;
}

.tablePeriod {
	font-weight: bold;
}

.tableCheckboxHolder {
	text-align: center;
}
	
.tableCheckboxHolder>div {
	margin: auto;
	left: 5px;
}

.height225 {
	min-height: 225px;
}
.height270 {
	min-height: 265px;
}

#linkTriple {
	margin: 0 0.875em;
}
#linkTriple li {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.ui.feed .content a {
	color: #009FDA;
}

.facebook.sign.icon {
	color: rgb(51, 79, 149);
}

/*For small and medium width screens*/
@media only screen and (max-width: 64em) {
 	.height270 {
 		min-height: 0;
 	}
 	#distanceWrite {
 		width: 90%;
		margin-top: 1em;
		margin-left: 5%;
		transform:rotate(0);
		-ms-transform:rotate(0); /* IE 9 */
		-webkit-transform:rotate(0); /* Safari and Chrome */
		-webkit-appearance: none;
	}
	#distanceWriteLabel {
		margin-left: 5em;
		left: 50%;
		right: 50%;
		top: 2em;
		width: 15em;
	}
	#distanceWriteLabel h3, #distanceWriteLabel h4 {
		display: inline;
	}
	#distanceWriteLabel h3 {
		margin-left: 1em;
	}
	#areaDetails form {
		height: auto;
	}
}

/*For small width screens only*/
@media only screen and (max-width: 40em) {
	.columns {
		padding-left: 0;
		padding-right: 0;
	}
	.ui.segment {
		border-radius: 0;
	}
 	.titleSection {
 		padding: 1em;
 	}
 	.height225 {
 		min-height: 0;
 	}
}


 