<template name="settings">
	<div id="main-background-image"></div>
	<div class="gap row">
		<div class="medium-8 columns">
			<div class="large-16 columns">
				{{> settingsBox}}
			</div>
		</div>
		<div class="medium-8 columns">
			<div class="large-16 columns">
			</div>			
		</div>
	</div>	
</template>

<template name="settingsBox">
		<form class="ui form segment content whitetranslucent">
		  	<div class="row">
		  		<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-1" id="linkTriple">
			  		<li>
				  		<div class="small ui fluid {{#if service 'facebook'}}facebook {{/if}}button" id="facebookButton">
				  			<i class="facebook icon"></i>
				  			{{#if service 'facebook'}}
					  			Facebook Account Linked
					  		{{else}}
					  			Link Facebook Account
					  		{{/if}}
				  		</div>
			  		</li>
			  		<li>
				  		<div class="small ui fluid {{#if service 'twitter'}}twitter {{/if}}button" id="twitterButton">
				  			<i class="twitter icon"></i>
				  			{{#if service 'twitter'}}
					  			Twitter Account Linked
				  			{{else}}
					  			Link Twitter Account
				  			{{/if}}
				  		</div>
		  			</li>
			  		<li>
				  		<div class="small ui fluid {{#if email 'verified'}}orange {{/if}} button" {{#if email}} title="{{email}}"{{/if}} id="emailButton">
				  			<i class="mail icon"></i>
				  			{{#if email 'verified'}}
					  			Email address verified
				  			{{else}}
				  				{{#if email 'unverified'}}
					  				Waiting for email verification
					  			{{else}}
					  				Link Email Account
				  				{{/if}}
				  			{{/if}}
				  		</div>
			  		</li>
			  	</ul>
		  	</div>
		  	<div class="ui grid">
			    <div class="ui eleven wide column field">
			      	<label>Preferred Contact</label>
					<div class="ui fluid selection dropdown" title="This is how we'll send you messages and make you aware of relevant postings - you can select more than one">
						<input type="hidden" name="contact">
						<div class="text" id="selectedContact">None</div>
						<i class="dropdown icon"></i>
					  	<div class="menu">
					  		{{#if email 'verified'}}<div class="item active" data-value="2">Email{{#if contactActive 2}} (selected){{/if}}</div>{{/if}}
					    	{{#if service 'facebook'}}<div class="item" data-value="1">Facebook{{#if contactActive 1}} (selected){{/if}}</div>{{/if}}
					    	{{#if service 'twitter'}}<div class="item" data-value="0">Twitter{{#if contactActive 0}} (selected){{/if}}</div>{{/if}}
					  	</div>
					</div>
			    </div>
			    <div class="ui five wide column">
			    	<div class="ui animated fluid positive attached withLabel button glowBase" id="saveButton" title="Save your profile">
					  	<div class="visible content">Save</div>
					  	<div class="hidden content">
					    	<i class="save icon glowBase"></i>
					  	</div>
					</div>
				</div>
		  	</div>
		</form>
	</div>
	<div id="linkModalHolder">
	</div>
</template>

<template name="linkModal">
	<div class="ui small modal" id="linkModal">
		<div class="ui row">
			<div class="ui column">
				<form class="ui form segment content grid">
			  		<div class="inline field row">
			      		<div class="ui input" id="email">
			      			<input placeholder="Email Address" type="email" id="emailEntry" />
			      		</div>
			    	</div>
					<div class="inline field row">
			      		<div class="ui input" id="password">
			      			<input placeholder="Password" type="password" id="passwordEntry" />
			      		</div>
			    	</div>
			    	<div class="two fluid ui buttons row">
	    		  		<div class="ui negative button" id="emailCancel">
				  			<i class="remove icon"></i>
				  			Cancel
				  		</div>
	    		  		<div class="ui orange button" id="emailSubmit">
				  			<i class="mail icon"></i>
				  			Submit
				  		</div>
				  	</div>
		    	</form>
			</div>    			
		</div>
	</div>
</template>

<template name="duplicateEmail">
	<div class="ui row">
		<div class="ui column">
			<h3 class="ui dividing header">
				E-mail already registered
			</h3>
			<p>That e-mail address is already registered on the system as a separate user.</p>
			<p>If you would like to link it to this profile, you will need to do the following:</p>
			<ul>
				<li>Log out of this account.</li>
				<li>Log back in using the e-mail <em>{{this.email}}</em>.</li>
				<li>Select <strong>Close this Account</strong> from the system menu.</li>
				<li>Log back into this account, from which you will now be able to link that e-mail address.</li>
			</ul>
			<p>Sorry about that, but this is necessary to prevent accounts being hijacked.</p>
		</div>
	</div>
</template>