<template name="homePage">
	<div id="main-background-image"></div>
	<div class="row">
		<div class="large-8 gap columns">
			<div class="row titleSection">
				<div class="suprsubFont suprsubHeader backgroundShadowBig">SuprSub</div>
				<div class="ui divider" style="position: relative"></div>
				<ul class="ui backgroundShadowSmall rightList show-for-medium-up">
				  	<li class="item">The best way to play more football</li>
				  	<li class="shortDivider"></li>
				  	<li class="item">Find a SuprSub in seconds if your team is short</li>
				  	<li class="shortDivider"></li>
				  	<li class="item">Be a SuprSub wherever and whenever suits you</li>
				  	<li class="shortDivider"></li>
				</ul>
			</div>
			<div class="row">
				<div class="ui tabular menu" id="postBoxTextChoice">
				  	<a class="{{#unless postBoxText}}active {{/unless}}item ui popup" activate="0" title="Make a posting using an easy-to-fill form">
				    	Form
				  	</a>
				  	<a class="{{#if postBoxText}}active {{/if}}item ui popup" activate="1" title="Make a posting using free text, like you would by tweeting">
				    	Text
				  	</a>
			  	</div>
			{{#if postBoxText}}
				<div class="large-2 columns"></div>
				<div class="large-14 columns">
					{{> postBox}}
				</div>
			{{else}}
				<div class="large-16 columns">
					{{> fullPostingForm}}
				</div>
			{{/if}}
			</div>
		</div>
		<div class="large-1 columns"></div>
		<div class="large-7 columns">
			<div class="ui feed segment whitetranslucent" id="activityFeed">
		      	<h2 class="ui header" id="activityHeader">Latest Activity</h2>
		      	<span id="toggleBox">
		      		<div class="ui breadcrumb">
					  	<a class="{{#unless filter}}active {{/unless}}section" id="allFilter" title="All active postings">All</a>
					  	<div class="divider"> / </div>
					  	<a class="{{#if filter}}{{#unless postingsUser}}active {{/unless}}{{/if}}section" id="userFilter" title="Postings which match my area and time period settings">Filtered</a>
						<div class="divider"> / </div>
					  	<a class="{{#if postingsUser}}active {{/if}}section" id="userPostings" title="My postings and posting to which I've responded">Mine</a>
					</div>
		      	</span>
		      	{{> activityFeed}}
			</div>
		</div>
	</div>
	<div class="modalHolder">
		{{> postingModal}}
	</div>
</template>

<template name="postBox">
	<div class="ui segment whitetranslucent">
		<form class="ui reply form" id="#postingForm">
			<div class="field">
				<textarea id="postingArea" placeholder="Need * player(s) at *:**pm tomorrow at XXXXXXXXX"></textarea>
			</div>
			<div class="ui buttons bottomRight">
				<div class="ui button teal submit labeled{{#unless teamRegistered}} disabled{{/unless}} icon" id="postingButton" title="{{#if teamRegistered}}Submit this posting{{else}}You need to enter your team details on the Team tab before you can make a posting{{/if}}">
					<i class="icon edit"></i> Make a Posting Now!
				</div>
				<div class="ui orange button icon" id="postingGuidelines" title="Read the posting guidelines so you know what information is required">
					<i class="question icon link"></i>
				</div>
			</div>
		</form>
	</div>
</template>

<template name="fullPostingForm">
	<div class="ui segment whitetranslucent">
		<form class="ui reply form" id="fullPostingForm">
			<div class="underlineRow ui grid">
				<div class="field six wide column">
					<label>No. of players</label>
					<div class="ui fluid selection dropdown" id="numberPlayers" title="The number of SuprSubs your team is looking for">
						<input type="hidden" id="players">
						<div class="default text">Select</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="1">1</div>
							<div class="item" data-value="2">2</div>
							<div class="item" data-value="3">3</div>
							<div class="item" data-value="4">4</div>
							<div class="item" data-value="5">5</div>
							<div class="item" data-value="6">6</div>
							<div class="item" data-value="7">7</div>
						</div>
					</div>					
				</div>
				<div class="field ten wide column">
					<label>Location</label>
					<div class="ui left labeled icon input" title="The match location. If you can't find your venue, you can make a request for it to be added on the Team page">
						<input type="text" placeholder="Type a description or address" id="homeGroundSearch">
						<i class="globe icon"></i>
					</div>
					<div id="matchesFloat"></div>
				</div>
			</div>
			<div class="underlineRow ui grid">
				<div class="field eight wide column">
					<label>Date</label>
					<div class="ui left labeled icon input" title="The date of your match">
						<input id="datepicker">
						<i class="calendar icon"></i>
					</div>
				</div>
				<div class="field eight wide column" id="timeSection" title="Kick-off time">
					<label>Kick-off</label>
					<div class="row">
						<div class="small-9 columns" style="margin: 0;">
							<div class="ui left icon input">
								<input id="timePickerHour" type="number" value="19" min="0" max="23" step="1" class="input-small">
								<i class="time icon"></i>
							</div>
						</div>
						<div class="small-7 columns" style="margin: 0;">
							<div class="ui input">
								<input id="timePickerMinute" type="number" value="00" min="00" max="59" step="5" class="input-small">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="underlineRow ui grid">
				<div class="field eight wide column">
					<div class="checkboxLabel">Friendly</div>
					<div class="ui toggle checkbox neutral" id="friendlyCompetitive" title="Is the game competitive (e.g. part of a league) or just for fun?">
						<input type="checkbox">
						<label></label>
					</div>
					<div class="checkboxLabel">Competitive</div>
				</div>
				<div class="field eight wide column">
					<label>Game Format</label>
					<div class="ui fluid selection dropdown" id="gameFormat" title="How many players will there be on each side (optional)?">
						<input type="hidden" id="format">
						<div class="default text">Select</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="5">5-a-side</div>
							<div class="item" data-value="6">6-a-side</div>
							<div class="item" data-value="7">7-a-side</div>
							<div class="item" data-value="8">8-a-side</div>
							<div class="item" data-value="9">9-a-side</div>
							<div class="item" data-value="10">10-a-side</div>
							<div class="item" data-value="11">11-a-side</div>
						</div>
					</div>
				</div>
			</div>
			<div class="underlineRow ui grid">
				<div class="field seven wide column" id="cost">
					<label>Cost</label>
					<div class="ui left icon input" title="Will you expect your SubrSub(s) to pay to play?  If you leave this blank, we will assume not.">
						<input id="costInput" type="number" min="0" max="20" class="input" placeholder="free">
						<i class="pound icon"></i>
					</div>
				</div>
				<div class="field nine wide column">
					<label>Send to:</label>
					<div class="checkboxLabel">Everyone</div>
					<div class="ui toggle checkbox neutral" id="onlySuprsubs" title="Do you want to notify everybody of this posting, or only those you've already specified as preferred SubrSubs?">
						<input type="checkbox">
						<label></label>
					</div>
					<div class="checkboxLabel">My Suprsubs</div>
				</div>
			</div>{{#isolate}}
			<div class="ui lowered button bottomRight teal submit labeled{{#unless teamRegistered}} disabled{{/unless}} icon" id="postingButton" title="{{#if teamRegistered}}Submit this posting{{else}}You need to enter your team details on the Team tab before you can make a posting{{/if}}">
					<i class="icon edit"></i> Make a Posting Now!
			</div>{{/isolate}}
		</form>
	</div>
</template>

<template name="postingModal">
	<div class="ui small modal">
		<div class="header">
			New Posting
		</div>
		<div class="content">
			<div class="ui raised segment">
				<div class="ui teal ribbon label">
					Number of Players needed
				</div>
				<p>{{posting.players}}</p>
				<div class="ui teal ribbon label">
					Time and Date
				</div>
				<p>{{posting.dateTime}}</p>
				<div class="ui teal ribbon label">
					Location
				</div>
				<p>{{posting.location}}</p>
				<div class="ui teal ribbon label">
					Gender
				</div>
				<p>{{posting.gender}}</p>
				{{#if posting.gameType}}
					<div class="ui teal ribbon label">
						Game Type
					</div>
					<p>{{posting.gameType}}</p>
				{{/if}}
				{{#if posting.teamSize}}
					<div class="ui teal ribbon label">
						Players per side
					</div>
					<p>{{posting.teamSize}}</p>
				{{/if}}
				<div class="ui teal ribbon label">
					Cost
				</div>
				<p>{{#if posting.price}}£{{posting.price}}{{else}}Free{{/if}}</p>
				<div class="ui teal ribbon label">
					Post to
				</div>
				<p>
					{{#if posting.onlyRingers}}
						My Preferred SuprSubs only
					{{else}}
						All potential Suprsubs
					{{/if}}
				</p>
				<div class="ui grid">
					<div class="four wide column"></div>
					<div class="eight wide column">
						<div class="2 ui fluid buttons">
						  	<div class="ui positive button" id="makePosting">Post</div>
						  	<div class="ui negative button" id="cancelPosting">Cancel</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="activityFeed">
	{{#each events}}
		<div class="event">
		    <div class="label">
		      	<i class="{{eventIcon}} icon"></i>
		    </div>
		    <div class="content">
		      	<div class="date">
		        	{{timeAgo}}
		      	</div>
		      	<div class="summary">
		         	<a>{{teamName}}:</a>
		      	</div>
		      	<div class="extra text">
		      		{{message}}
		      	</div>
		    </div>
		</div>
	{{/each}}
</template>

<template name="fadeBox">
	<div class="fadeBox" style="top: {{top}}px; left: {{left}}px; width: {{width}}px; height: {{height}}px">
	</div>
</template>
