<template name="homePage">
	<div id="main-background-image"></div>
	<div class="row">
		<div class="large-8 gap master columns">
			<div class="titleSection">
				<div class="suprsubFont suprsubHeader backgroundShadowBig">SuprSub</div>
				<!-- <div class="ui divider" style="position: relative"></div> -->
				<ul class="ui backgroundShadowSmall rightList show-for-medium-up" id="benefitsList">
				  	<li class="item">The best way to play more football</li>
				  	<li class="shortDivider"></li>
				  	<li class="item">Find a SuprSub in seconds if your team is short</li>
				  	<li class="shortDivider"></li>
				  	<li class="item">Be a SuprSub wherever and whenever suits you</li>
				  	<li class="shortDivider"></li>
				</ul>
			</div>
			<div class="">
				<div class="ui tabular menu" id="postBoxTextChoice">
				  	<a class="{{#unless postBoxText}}active {{/unless}}item ui popup" activate="0" title="Make a posting using an easy-to-fill form">
				    	Form
				  	</a>
				  	<a class="{{#if postBoxText}}active {{/if}}item ui popup" activate="1" title="Make a posting using free text, like you would by tweeting">
				    	Text
				  	</a>
			  	</div>
<!-- 				<div class="medium-16 columns">
					<div class="large-16 columns"> -->
						{{#if postBoxText}}
							{{> postBox}}
						{{else}}
							{{> fullPostingForm}}
						{{/if}}
<!-- 					</div>
				</div> -->
			</div>
		</div>
		<div class="large-8 master columns">
			<div class="">
				<div class="ui feed segment whitetranslucent" id="activityFeed">
			      	<h2 class="ui header" id="activityHeader">{{genderName}} Football Activity</h2>
			      	<span id="toggleBox">
			      		<div class="ui breadcrumb">
						  	<a class="{{#unless filter}}active {{/unless}}section" id="allFilter" title="All active postings">All</a>
						  	<div class="divider"> / </div>
						  	<a class="{{#if filter}}{{#unless postingsUser}}active {{/unless}}{{/if}}section" id="userFilter" title="Postings which match my area and time period settings">Filtered</a>
							<div class="divider"> / </div>
						  	<a class="{{#if postingsUser}}active {{/if}}section" id="userPostings" title="My postings and posting to which I've responded">Mine</a>
						</div>
			      	</span>
			      	{{> activityFeed}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="postBox">
	<div class="ui segment content whitetranslucent">
		<form class="ui reply form" id="#postingForm">
			<div class="field">
				<textarea id="postingArea" placeholder="Need * player(s) at *:**pm tomorrow at XXXXXXXXX"></textarea>
			</div>
			<div class="ui buttons bottomRight">
				<div class="ui button teal submit labeled{{#unless teamRegistered}} disabled{{/unless}} icon" id="postingButton" title="{{#if teamRegistered}}Submit this posting{{else}}You need to enter your team details on the Team tab before you can make a posting{{/if}}">
					<i class="icon edit"></i> Make a Posting Now!
				</div>
				<div class="ui orange button icon" id="postingGuidelines" title="Read the posting guidelines so you know what information is required">
					<i class="question icon link"></i>
				</div>
			</div>
		</form>
	</div>
</template>

<template name="fullPostingForm">
	<div class="ui segment content whitetranslucent">
		<form class="ui reply form" id="fullPostingForm">
			<div class="underlineRow ui row">
				<div class="{{playersCheck}} field small-6 columns">
					<label>No. of players</label>
					<div class="ui fluid selection dropdown" id="numberPlayers" title="The number of SuprSubs your team is looking for">
						<input type="hidden" id="players">
						<div class="default text">Select</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="1">1</div>
							<div class="item" data-value="2">2</div>
							<div class="item" data-value="3">3</div>
							<div class="item" data-value="4">4</div>
							<div class="item" data-value="5">5</div>
							<div class="item" data-value="6">6</div>
							<div class="item" data-value="7">7</div>
						</div>
					</div>					
				</div>
				<div class="{{locationCheck}} {{#unless pitchesReady}}disabled{{/unless}} field small-10 columns">
					<label>Location</label>
					<div class="ui left labeled icon input" title="The match location. If you can't find your venue, you can make a request for it to be added on the Team page">
						<input type="text" placeholder={{#if pitchesReady}}Type a description or address{{else}}Loading pitches...{{/if}} id="homeGroundSearch">
						<i class="globe icon"></i>
					</div>
					<div id="matchesFloat"></div>
				</div>
			</div>
			<div class="underlineRow ui row">
				<div class="{{dateTimeCheck}} field small-8 columns">
					<label>Date</label>
					<div class="ui left labeled icon input" title="The date of your match">
						<input id="datepicker">
						<i class="calendar icon"></i>
					</div>
				</div>
				<div class="{{dateTimeCheck}} field small-8 columns" id="timeSection" title="Kick-off time">
					<label>Kick-off</label>
					<div class="row">
						<div class="small-9 columns minipadding">
							<div class="ui left icon input">
								<input id="timePickerHour" type="number" value="19" min="0" max="23" step="1" class="input-small">
								<i class="time icon"></i>
							</div>
						</div>
						<div class="small-7 columns">
							<div class="ui input">
								<input id="timePickerMinute" type="number" value="00" min="00" max="59" step="5" class="input-small">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="underlineRow ui row">
				<div class="field small-8 columns">
					<label>Friendly / Competitive</label>
					<div class="ui fluid selection flipbox" id="friendlyCompetitive" title="Is the game competitive (e.g. part of a league) or just for fun?">
						<input type="hidden">
						<div class="displayed text">Select</div>
						<i class="right exchange icon"></i>
						<div class="choices">
							<div class="item" data-value="0">Friendly</div>
							<div class="item" data-value="1">Competitive</div>
						</div>
					</div>
<!-- 					<div class="ui fluid selection dropdown" id="friendlyCompetitive" title="Is the game competitive (e.g. part of a league) or just for fun?">
						<input type="hidden">
						<div class="default text">Select</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="0">Friendly</div>
							<div class="item" data-value="1">Competitive</div>
						</div>
					</div>				
 --><!-- 					<div class="checkboxLabel">Friendly</div>
					<div class="ui toggle checkbox neutral" id="friendlyCompetitive" title="Is the game competitive (e.g. part of a league) or just for fun?">
						<input type="checkbox">
						<label></label>
					</div>
					<div class="checkboxLabel"><span class="show-for-medium-up">Competitive</span><span class="show-for-small-only">Comp.</span></div> -->
				</div>
				<div class="{{formatCheck}} field small-8 columns">
					<label>Game Format</label>
					<div class="ui fluid selection dropdown" id="gameFormat" title="How many players will there be on each side (optional)?">
						<input type="hidden" id="format">
						<div class="default text">Select</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="5">5-a-side</div>
							<div class="item" data-value="6">6-a-side</div>
							<div class="item" data-value="7">7-a-side</div>
							<div class="item" data-value="8">8-a-side</div>
							<div class="item" data-value="9">9-a-side</div>
							<div class="item" data-value="10">10-a-side</div>
							<div class="item" data-value="11">11-a-side</div>
						</div>
					</div>
				</div>
			</div>
			<div class="underlineRow ui row">
				<div class="field small-7 columns" id="cost">
					<label>Cost</label>
					<div class="ui left icon input" title="Will you expect your SubrSub(s) to pay to play?  If you leave this blank, we will assume not.">
						<input id="costInput" type="number" min="0" max="20" class="input" placeholder="free">
						<i class="pound icon"></i>
					</div>
				</div>
				<div class="field small-9 columns">
					<label>Send to</label>
					<div class="ui fluid selection flipbox" id="onlySuprsubs" title="Do you want to notify everybody of this posting, or only those you've already specified as preferred SubrSubs?">
						<input type="hidden">
						<div class="displayed text">Select</div>
						<i class="right exchange icon"></i>
						<div class="choices">
							<div class="item" data-value="0">Everyone</div>
							<div class="item" data-value="1">My SuprSubs</div>
						</div>
					</div>		
<!-- 					<label>Send to:</label>
					<div class="checkboxLabel">Everyone</div>
					<div class="ui toggle checkbox neutral" id="onlySuprsubs" title="Do you want to notify everybody of this posting, or only those you've already specified as preferred SubrSubs?">
						<input type="checkbox">
						<label></label>
					</div>
					<div class="checkboxLabel">My SuprSubs</div> -->
				</div>
			</div>
			<div class="ui lowered button bottomRight teal submit labeled{{#unless teamRegistered}} disabled{{/unless}} icon" id="fullPostingFormSubmit" title="{{#if teamRegistered}}Submit this posting{{else}}You need to enter your team details on the Team tab before you can make a posting{{/if}}">
					<i class="icon edit"></i> Make a Posting Now!
			</div>
		</form>
	</div>
</template>

<template name="postingModalWrapper">
	<div class="ui small modal" id="postingModal">
	{{>postingModal}}
	</div>
</template>

<template name="postingModal">
	<div class="header">
		New Posting
	</div>
	<div class="content">
		<div class="ui raised segment">
			<div class="ui teal ribbon label">
				Number of Players needed
			</div>
			<p>{{posting.players}}</p>
			<div class="ui teal ribbon label">
				Time and Date
			</div>
			<p>{{posting.dateTime}}</p>
			<div class="ui teal ribbon label">
				Location
			</div>
			<p>{{posting.location}}</p>
			<div class="ui teal ribbon label">
				Gender
			</div>
			<p>{{posting.gender}}</p>
			{{#if posting.gameType}}
				<div class="ui teal ribbon label">
					Game Type
				</div>
				<p>{{posting.gameType}}</p>
			{{/if}}
			{{#if posting.teamSize}}
				<div class="ui teal ribbon label">
					Players per side
				</div>
				<p>{{posting.teamSize}}</p>
			{{/if}}
			<div class="ui teal ribbon label">
				Cost
			</div>
			<p>{{#if posting.price}}£{{posting.price}}{{else}}Free{{/if}}</p>
			<div class="ui teal ribbon label">
				Post to
			</div>
			<p>
				{{#if posting.onlyRingers}}
					My Preferred SuprSubs only
				{{else}}
					All potential Suprsubs
				{{/if}}
			</p>
			<div class="ui grid">
				<div class="medium-10 small-16 medium-offset-6 columns">
					<div class="2 ui fluid buttons">
					  	<div class="ui positive button" id="makePosting">Post</div>
					  	<div class="ui negative button" id="cancelPosting">Cancel</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="activityFeed">
	{{#each eventList}}
		<div class="event">
		    <div class="label">
		      	<i class="{{eventIcon}} icon"></i>
		    </div>
		    <div class="content">
		      	<div class="date">
		        	{{timeAgo}}
		      	</div>
		      	<div class="summary">
		         	<a>{{teamName}}:</a>
		      	</div>
		      	<div class="extra text {{#if available}}available{{/if}}" id={{_id}}>
		      		{{message}}
		      	</div>
		    </div>
		</div>
	{{/each}}
</template>

<template name="signupModalHolder">
	<div class="ui small modal" id="signupModal">
	{{> signupModal}}
	</div>
</template>

<template name="signupModal">
	<div class="header">
		Posting Details
	</div>
	<div class="content">
		<div class="ui raised segment">
			<div class="ui teal ribbon label">
				Number of Players needed
			</div>
			<p>{{posting.players}}</p>
			<div class="ui teal ribbon label">
				Time and Date
			</div>
			<p>{{posting.dateTime}}</p>
			<div class="ui teal ribbon label">
				Location
			</div>
			<p>{{posting.location}}</p>
			<div class="ui teal ribbon label">
				Gender
			</div>
			<p>{{posting.gender}}</p>
			{{#if posting.gameType}}
				<div class="ui teal ribbon label">
					Game Type
				</div>
				<p>{{posting.gameType}}</p>
			{{/if}}
			{{#if posting.teamSize}}
				<div class="ui teal ribbon label">
					Players per side
				</div>
				<p>{{posting.teamSize}}</p>
			{{/if}}
			<div class="ui teal ribbon label">
				Cost
			</div>
			<p>{{#if posting.price}}£{{posting.price}}{{else}}Free{{/if}}</p>
			<div class="row">
				<div class="medium-10 small-16 medium-offset-6 columns">
					<div class="2 ui fluid buttons">
						{{#if myPosting}}
						<div class="ui negative button" id="removePosting" title="Cancel this posting">Delete</div>
						{{else}}
					  	<div class="ui positive button" id="takePosting" title="I'll be your SuprSub!">Sign Up!</div>
					  	{{/if}}
					  	<div class="ui button" id="cancelSignup">Close</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="fadeBox">
	<div class="fadeBox" style="top: {{top}}px; left: {{left}}px; width: {{width}}px; height: {{height}}px">
	</div>
</template>
