<template name="about">
	<div id="main-background-image"></div>
	<div class="grid row">
		<div class="small-16 medium-5 columns">
		{{>aboutMenu}}
		</div>
		<div class="small-16 medium-11 columns">
		{{>aboutSuprSub}}
		{{>howItWorks}}
		{{>walkThrough}}
		{{>rulesGuidelines}}
		{{>postingInstructions}}
		{{>contactingSuprSub}}
		</div>
	</div>
</template>

<template name="aboutMenu">
	<div class="ui small-16 segment whitetranslucent" id="instructionsMenu">
		<div class="ui fluid vertical menu">
			<div class="{{#if tabChoice 'aboutTab' 'aboutSuprSub'}}active {{/if}}teal item" id="aboutSuprSub">
				<a href="#aboutSuprSubSection">About SuprSub</a>
			</div>
			<div class="{{#if tabChoice 'aboutTab' 'howItWorks'}}active {{/if}}teal item" id="howItWorks">
				<a href="#howItWorksSection">How it Works</a>
			</div>
			<div class="{{#if tabChoice 'aboutTab' 'walkThrough'}}active {{/if}}teal item" id="walkThrough">
				<a href="#walkThroughSection">Walk me through it...</a>
				{{#if tabChoice 'aboutTab' 'walkThrough'}}
				<div class="menu">
					<a class="item">
						Players
					</a>
					<a class="item">
						Teams
					</a>
				</div>
				{{/if}}
			</div>
			<div class="{{#if tabChoice 'aboutTab' 'rulesAndGuidelines'}}active {{/if}}teal item" id="rulesAndGuidelines">
				<a href="#rulesAndGuidelinesSection">User Guidelines</a>
				{{#if tabChoice 'aboutTab' 'rulesAndGuidelines'}}
				<div class="menu">
					<a class="item">
						Players
					</a>
					<a class="item">
						Teams
					</a>
					<a class="item">
						Everyone
					</a>
					<a class="item">
						Match Fees
					</a>
					<a class="item">
						Complaints
					</a>
				</div>
				{{/if}}
			</div>
			<div class="{{#if tabChoice 'aboutTab' 'postingInstructions'}}active {{/if}}teal item" id="postingInstructions">
				<a href="#postingInstructionsSection">Making and Responding to Postings</a>
				{{#if tabChoice 'aboutTab' 'postingInstructions'}}
				<div class="menu">
					<a class="teal item">
						Making a Posting
						<div class="ui teal label"><i class="large pencil icon"></i></div>
					</a>
					<a class="item">
						Responding to a Posting
						<div class="ui label"><i class="large reply mail icon"></i></div>
					</a>
					<a class="item">
						Cancelling a Posting
						<div class="ui label"><i class="large remove icon"></i></div>
					</a>
				</div>
				{{/if}}
			</div>
			<div class="{{#if tabChoice 'aboutTab' 'contactingSuprSub'}}active {{/if}}teal item" id="contactingSuprSub">
				<a href="#contactingSuprSubSection">Contacting SuprSub</a>
				{{#if tabChoice 'aboutTab' 'contactingSuprSub'}}
				<div class="menu">
					<a class="teal item">
						Pitches
						<div class="ui teal label"><i class="large location icon"></i></div>
					</a>
					<a class="item">
						Suggestions & Problems
						<div class="ui label"><i class="large mail outline icon"></i></div>
					</a>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="aboutSuprSub">
	<div class="row instructionsRow">
		<div class="grid">
			<h1 class="ui top attached header menuItem" id="aboutSuprSubSection">About SuprSub</h1>
			<div class="ui small-16 attached segment whitetranslucent">
			<p>SuprSub is a football player community, helping local teams to find players and keen players to find more games in their neighbourhood.</p>
			<strong>3 Easy Steps:</strong>
			<ol>
				<li>Teams find last minute players by posting via <a href="www.suprsub.com">www.suprsub.com</a> or tweeting <a href="https://twitter.com/intent/user?screen_name=suprsub">@suprsub</a>,  how many, when and where you need them. We repost this to our large and growing football community.</li>
				<li>Players find games by registering when and where they are available, and we will notify them when there is a suitable game. Or just follow <a href="https://twitter.com/intent/user?screen_name=suprsub">@suprsub on Twitter</a> or at <a href="www.suprsub.com">www.suprsub.com</a> and pick one..</li>
				<li>When you match, we put player and game organiser in contact directly to finalise the details.</li>
			</ol>
			<p>So go on then... BE a SuprSub, FIND a SuprSub, PLAY more football!</p>
			</div>
		</div>
	</div>
</template>

<template name="howItWorks">
	<div class="row instructionsRow">
		<div class="grid">
			<h1 class="ui top attached header menuItem" id="howItWorksSection">How It Works</h1>
			<div class="ui small-16 attached segment whitetranslucent">
				<strong class="subheader">5-a-side, 11-a-side and everything in between.  Play more football!</strong>
				<p>SuprSub provides an easy way of posting last minute player needs to a large and growing community of eager footballers.  By last minute we mean any time in the next week, from a few hours to a few days.</p>
				<p>Look for a player using the “make a posting now” box on the home page or by tweeting the <a href="https://twitter.com/intent/user?screen_name=suprsub">@suprsub</a> account, detailing number of players needed, location, day and time, and any other details.</p>
				<p><strong>Teams</strong> can save their regular games on <a href="www.suprsub.com">www.suprsub.com</a> meaning they can search for a player in one click or with the briefest of tweets.</p>
				<p>We repost the request to our SuprSub community on Twitter, Facebook and Web. If it matches a registered player’s availability, they are sent a notification. All this should take a few seconds.</p>
				<p>Keen <strong>players</strong> register their availability as a SuprSub at <a href="www.suprsub.com">www.suprsub.com</a> detailing where and when they are willing to play. Choose how you wish to be notified when a team needs you in Settings. Or just follow our feed and pick a game when and where it suits you.</p>
				<p>When SuprSub matches a team and player, the two parties are put in contact to arrange the finer details of the game (exact meeting point, what colour to wear, what surface you will play on, are shin pads mandatory, etc.).</p>
				<p>If you are a team in need of a spare player or two, SuprSub allows you to reach a big network of eager players in your local area in seconds.</p>
				<p>If you are someone who just loves to play football, SuprSub gives you the opportunity to get more games by filling in for teams that are short as often as you want.</p>
				<p>At SuprSub, we will assume that everything always works out well.  But if it doesn’t for any reason, please report abuse/no-shows/cancelled games and any and all unwanted behaviour to <a href="mailto:info@suprsub.com">info@suprsub.com</a></p>
			</div>
		</div>
	</div>
</template>

<template name="walkThrough">
	<div class="row instructionsRow">
		<div class="grid">
			<h1 class="ui top attached header menuItem" id="walkThroughSection">Walk me through it...</h1>
			<div class="ui small-16 attached segment whitetranslucent">
				<strong>Players</strong>
				<ul>
					<li>Register at <a href="www.suprsub.com">www.suprsub.com</a>, using either  Twitter, Facebook or email for your login.</li>
					<li>Go to the player tab at the top.</li>
					<li>Add details to complete your profile (not compulsory): left or right foot, prefered position, ability.</li>
					<li>Add your availability using the checkboxes for each day, morning (until noon), afternoon (12-5pm) and evening (after 5pm).  We will use this to notify you when teams are looking for a player.  Don’t forget: it doesn’t mean you have to play, so check more rather than less.</li>
					<li>Choose your location on the map and distance you are willing to travel.  The bigger the neighbourhood, the more options you’ll have.</li>
					<li>Your neighbourhood choice will populate the availability box with your potential venues in case you want to check that a certain one is included or not.</li>
					<li>Click Save and you’re done.  Now you can play as much football as you want!</li>
				</ul>
				<strong>Teams</strong>
				<ul>
					<li>Register at <a href="www.suprsub.com">www.suprsub.com</a>, using either  Twitter, Facebook or email for your login.</li>
					<li>Enter team/game name and fill in the details below it, choosing your home ground from the map underneath and adding day of the week and time, if these are usually the same.</li>
					<li>Hit the pin button to make a game your default game. SuprSub will use the info from your default game in your postings if you don’t supply it.</li>
					<li>Hit the add button to add another team.</li>
					<li>Hit the subtract button to remove a team.</li>
					<li>In the right-hand box is more team information: team members, prefered subs, game details etc.  From here you can invite team members, SuprSubs and enter a code you’ve been given to join a team.</li>
					<li>Clicking the invitation button will send you a code to your twitter or email (whichever you’ve chosen for contact in your settings) which you can forward to your mates.  You can invite 2 groups of people, full team mates or prefered SuprSubs.  Full team mates have complete admin privileges, prefered SuprSubs don’t.  Prefered suprsubs are like your go-to regular reserves.</li>
					<li>Once your default game is registered you can tweet or post a message when you need a player or two.  Whatever details you leave out of a tweet we will take from your defaults, and these automatically populate the ‘make a posting’ box on the home screen.</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<template name="rulesGuidelines">
	<div class="row instructionsRow">
		<div class="grid">
			<h1 class="ui top attached header menuItem" id="rulesAndGuidelinesSection">User Guidelines</h1>
			<div class="ui small-16 attached segment whitetranslucent">
			<p>SuprSub is a community of football players who love playing football and is intended to help everyone get more out of the game.  Please follow these simple and mostly obvious guidelines to ensure everything runs smoothly.  Thank you.</p>
			<strong>Players</strong>
			<ul>
				<li>It's best to assume that the game will be competitive and therefore you must bring all the necessary equipment (e.g. assume you need shinpads to play).</li>
				<li>Make sure you know what type of game and playing surface to expect.</li>
				<li>Aim to get to the pitch 10 minutes early so its easier to find your new teammates.  It's not always straightforward to find the entrance.</li>
			</ul>
			<strong>Teams</strong>
			<ul>
				<li>Try to give your new player as much detail about the game as possible before you meet, especially what colour shirts you wear.</li>
				<li>Have a specific and obvious place to meet up.</li>
				<li>Get there 10 minutes early so you’re there to greet your new SuprSub.</li>
			</ul>
			<strong>Everyone</strong>
			<ul>
				<li>Play the beautiful game as it's meant to be played!</li>
				<li>Often in short sided games, everyone takes 5-10 minutes in goal.  Players shouldn’t refuse and equally teams shouldn’t stick their SuprSub in goal for the whole game either (unless they're a dedicated goalkeeper, that is).</li>
			</ul>
			<strong>Match Fees</strong>
			<p>We realise playing football in the UK is not free and renting a pitch costs money. If you want your SuprSub to contribute a match fee you <strong>must</strong> specify this in your posting, otherwise it is assumed that the SuprSub will not be required to contribute.</p>
			</div>
		</div>
	</div>
</template>

<template name="postingInstructions">
	<div class="row instructionsRow">
		<div class="grid">
			<h1 class="ui top attached header menuItem" id="postingInstructionsSection">Making and Responding to Postings</h1>
			<div class="ui small-16 attached segment whitetranslucent">
				<h3 class="ui header">How to use the service with Twitter</h3>
				<p>Once you've registered your default game or team, it couldn't be easier.</p>
				<hr>
				<div class="ui green icon message">
					<i class="thumbs up icon"></i>
					<div class="content">
						<div class="header">
							Successful
						</div>
						<p><strong>@suprsub 2</strong>&nbsp;&nbsp;<em>If you have a default location, time and day set up, that's all you need to look for two players!</em></p>
					</div>
				</div>
				<div class="ui green icon message">
					<i class="thumbs up icon"></i>
					<div class="content">
						<div class="header">
							Successful
						</div>
						<p><strong>@suprsub 1 player mylist</strong>&nbsp;&nbsp;<em>Adding "mylist" will mean this posting only appears to your preferred SuprSubs, and not other users.</em></p>
					</div>
				</div>
				<div class="ui green icon message">
					<i class="thumbs up icon"></i>
					<div class="content">
						<div class="header">
							Successful
						</div>
						<p><strong>@suprsub need two players 8.30pm</strong>&nbsp;&nbsp;<em>Perhaps your default time is 7pm, but this week you have a later kick-off than usual.</em></p>
					</div>
				</div>
				<div class="ui green icon message">
					<i class="thumbs up icon"></i>
					<div class="content">
						<div class="header">
							Successful
						</div>
						<p><strong>@suprsub three players 20:00 saturday</strong>&nbsp;&nbsp;<em>You can specify a different day and use a 24hr clock as well.  But be careful - "7:00" without a "pm" means 7am!</em></p>
					</div>
				</div>
				<div class="ui green icon message">
					<i class="thumbs up icon"></i>
					<div class="content">
						<div class="header">
							Successful
						</div>
						<p><strong>@suprsub looking for 2 players £5</strong>&nbsp;&nbsp;<em>This will use all your default settings, but specify that you expect your SuprSubs to pay £5 each.</em></p>
					</div>
				</div>
				<div class="ui green icon message">
					<i class="thumbs up icon"></i>
					<div class="content">
						<div class="header">
							Successful
						</div>
						<p><strong>@suprsub 3 players 7.30pm monday friendly £4 mylist Haggerston Park</strong>&nbsp;&nbsp;<em>You can change every aspect of a player search, including the location, but you need to use something close to the name in our database for it to match, so we recommend posting via the web app the first time.</em></p>
					</div>
				</div>
				<div class="ui inverted darkgreen segment">Your tweet MUST begin with the number of players, and if you're specifying a location it MUST come at the end.  The other information can come in any order in between.</div>
				<div class="ui red icon message">
					<i class="thumbs down icon"></i>
					<div class="content">
						<div class="header">
							Unsuccessful
						</div>
						<p><strong>@suprsub Goals Bexleyheath, Wednesday 11am, competitive, one player</strong>&nbsp;&nbsp;<em>This is in the wrong order - the number of players should be at the start and the location at the end.</em></p>
					</div>
				</div>
				<div class="ui red icon message">
					<i class="thumbs down icon"></i>
					<div class="content">
						<div class="header">
							Unsuccessful
						</div>
						<p><strong>@suprsub need 3 players 4:15 tomorrow</strong>&nbsp;&nbsp;<em>This will make a posting for 4:15am!</em></p>
					</div>
				</div>
				<div class="ui red icon message">
					<i class="thumbs down icon"></i>
					<div class="content">
						<div class="header">
							Unsuccessful
						</div>
						<p><strong>@suprsub need 1 player 8pm The Emirates</strong>&nbsp;&nbsp;<em>We don't have that pitch location in our database, Mr Wenger.</em></p>
					</div>
				</div>
				<div class="ui red icon message">
					<i class="thumbs down icon"></i>
					<div class="content">
						<div class="header">
							Unsuccessful
						</div>
						<p><strong>@suprsub need 1 player 8pm female/male</strong>&nbsp;&nbsp;<em>You cannot be registered as males and look for female players or vice versa.</em></p>
					</div>
				</div>
				<p>Here are the posting instructions</p>
			</div>
		</div>
	</div>
	<div class="row instructionsRow">
		<div class="grid">
			<h1 class="ui top attached header">Responding to a Posting</h1>
			<div class="ui small-16 attached segment whitetranslucent">
				<h3 class="ui header">How to respond to a posting that you've been sent when you'd like to become a Suprsub.</h3>
				<hr>
				<strong class="subheader">via Email:</strong>
				<p>Click on the link provided, which takes you to the posting on <a href="www.suprsub.com">www.suprsub.com</a>, then hit "Sign Up".</p>
				<strong class="subheader">via the Web App:</strong>
				<p>Click on the game posting you'd like to sign up for on the Activity Feed, then hit "Sign Up".</p>
				<strong class="subheader">via Twitter:</strong>
				<p>Reply to the tweet you received with the posting details with the word "suprsub" and that's it: <strong>@suprsub suprsub</strong></p>
				<em>NB - Twitter only allows you to tweet the same thing once in a 24hr period, so if you have already sent a tweet like </em><strong>@suprsub suprsub</strong><em>, just add any other word and it should work.  For example: </em>
				<div class="ui list"><div class="item"><strong>@suprsub suprsub go</strong></div><div class="item"><strong>@suprsub suprsub please</strong></div><div class="item"><strong>@suprsub suprsub a</strong></div><div class="item"><strong>@suprsub suprsub cookpassbabtridge</strong></div></div>
			</div>
		</div>
	</div>
	<div class="row instructionsRow">
		<div class="grid">
			<h1 class="ui top attached header">Cancelling a Posting</h1>
			<div class="ui small-16 attached segment whitetranslucent">
				<h3 class="ui header">How to cancel a posting that you've made.</h3>
				<hr>
				<strong class="subheader">via the Web App:</strong>
				<p>Click on the game posting you' made (it should be easy to find if you filter by "Mine"), then hit "Cancel".</p>
				<strong class="subheader">via Twitter:</strong>
				<p>Reply to the tweet you received with the posting details with the word "cancel" and that's it: <strong>@suprsub cancel</strong>.  Note the point in the previous section about adding an extra word if required!</p>
			</div>
		</div>
	</div>
</template>

<template name="contactingSuprSub">
	<div class="row instructionsRow">
		<div class="grid">
			<h1 class="ui top attached header menuItem" id="contactingSuprSubSection">Pitches</h1>
			<div class="ui small-16 attached segment whitetranslucent">
				<p>We reckon we’ve got most of the UK covered, pitch-wise. However, if your usual pitch is not there, on the team page bring up the pitch map and hit the ‘Add A Venue’ button.  Submit a name and at least a post code and we’ll do the rest and notify you when it’s done.</p>
			</div>
		</div>
	</div>
	<div class="row instructionsRow">
		<div class="grid">
			<h1 class="ui top attached header">Suggestions & Problems</h1>
			<div class="ui small-16 attached segment whitetranslucent">
				<p>Email us at <a href="mailto:info@suprsub.com">info@suprsub.com</a> and we will happily look into it.</p>
			</div>
		</div>
	</div>
</template>