/*****************************************************************************/
/* Team: Style */
/*****************************************************************************/
$suprsub-green: hsl(120, 75%, 43%);

#pitchMatches {
	max-height: 8em;
	overflow-y: auto;
	overflow-x: hidden;
}

/* MAP ATTRIBUTES */

#mapContainer {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#mapContainer::before {
    content: "";
    display: block;
    padding-top: 70% /* THIS CONTROLS THE MAPS ASPECT RATIO = HEIGHT / WIDTH (and yes, I know thats poor grammar but I cant use apostrophes in a comment) */
}

#mapHolder {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;

    .spinner-container {
    	position: absolute;
    	top: 0;
    	background-color: rgba(0, 0, 0, 0.75);
    	opacity: 0;
    	z-index: -1;
    }

	&.with-spinner {
		.spinner-container {
			opacity: 1;
			z-index: auto;

			&::after {
				content: 'LOADING MARKERS';
				color: $suprsub-green;
				text-align: center;
				font-size: 1.5em;
				display: block;
				margin-top: 15%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

#map {
	height: 100%;
}

#mapCover {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 2em;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	display: table;
}

#mapCover>div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: whitesmoke;
	text-shadow: 0 0 1px whitesmoke;
}

.info-window {
	height: auto;
	white-space: nowrap;
}