<template name="Team">
	<div id="main-background-image"></div>
	<div class="container">
		<div class="flexbox v-stretch wrap equal-height">
			<div class="m-1-2 w-1-2 size-1">
					{{> teamTopLevel}}
			</div>
			<div class="m-1-2 w-1-2 size-1">
					{{> teamSecondLevel}}		
			</div>
			<div class="w-1-1 size-2">
				{{> otherInfo}}
			</div>
		</div>
	</div>
	{{#if codeEntered}}
		<!-- {{> codeModal}} -->
	{{/if}}
</template>

	<template name="teamTopLevel">
		<form class="ui form segment whitetranslucent flexbox wrap">
			<div class="w-5-8">
				<div class="{{invalid 'name'}} field" id="teamNameHolder">
					<label>Team/Game Name</label>
					{{#if teamDropdown}}
					{{> teamDropDown teams}}
					{{else}}
					<div class="ui input">
						<input placeholder="Team Name" type="text" data-field="team-name" title="This is the name that will appear on your team postings" value={{teamName}}>
					</div>
					{{/if}}
				</div>
			</div>
			<div class="w-3-8">
				{{#unless newTeam}}
				<div class="ui four buttons withLabel">
					<div class="ui fluid attached icon button {{#if default}} teal{{/if}}{{#if newTeam}} disabled{{/if}}" data-action="set-default" title="Set as your default team"><i class="pin icon"></i></div>
					<div class="ui fluid attached icon button {{#if newTeam}} disabled{{/if}}" data-action="add-team" title="Add a new team"><i class="add icon"></i></div>
					<div class="ui fluid attached icon button {{#if newTeam}} disabled{{/if}}" data-action="leave-team" title="Leave this team"><i class="minus icon"></i></div>
					<div class="ui fluid attached icon button {{#if newTeam}} disabled{{/if}}" data-action="delete-team" title="Delete this team (this will delete it for ALL team members)"><i class="remove icon"></i></div>
				</div>
				{{else}}
				<div class="ui fluid attached icon button withLabel {{#unless formValid}} disabled{{/unless}}" data-action="save-team" title="Save as new team"><i class="save icon"></i></div>
				{{/unless}}
			</div>
			<div class="w-1-1 ui content segment">
				<form class="ui form whitetranslucent">
					<div class="flexbox wrap">
						<div class="w-5-8">
							<div class="field">
								<label>Friendly / Competitive</label>
								<div class="ui fluid selection flipbox" data-field="friendly-competitive" title="Is the game competitive (e.g. part of a league) or just for fun?">
									<input type="hidden">
									<div class="displayed text">Select</div>
									<i class="right exchange icon"></i>
									<div class="choices">
										<div class="item" data-value="0">Friendly</div>
										<div class="item" data-value="1">Competitive</div>
									</div>
								</div>
							</div>
						</div>
						<div class="w-3-8">
							<div class="{{invalid 'format'}} field">
								<label>Game Format</label>
								<div class="ui fluid selection dropdown" data-field="game-format" title="How many players will there be on each side (optional)?">
									<input type="hidden" data-field="format">
									<div class="default text">Select</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="5">5-a-side</div>
										<div class="item" data-value="6">6-a-side</div>
										<div class="item" data-value="7">7-a-side</div>
										<div class="item" data-value="8">8-a-side</div>
										<div class="item" data-value="9">9-a-side</div>
										<div class="item" data-value="10">10-a-side</div>
										<div class="item" data-value="11">11-a-side</div>
									</div>
								</div>
							</div>
						</div>
						<div class="w-1-1">
							<div class="{{invalid 'homeGround'}} field ">
								<label>Home Ground</label>
								<div class="ui input" data-field="home-ground">
									<input placeholder="Use the dialogue box below to select" type="text" readonly title="Where does your team usually play its matches?" value="{{homeGroundName}}" data-function="home-ground">
								</div>
							</div>
						</div>
						<div class="w-1-1">
							<div class="flexbox fields">
								<div class="w-5-12">
									<div class="field opacity">
										<label>Day</label>
										<div class="ui selection dropdown" data-field="day-choice">
											<input type="hidden" data-field="day">
											<div class="default text">Select</div>
											<i class="dropdown icon"></i>
											<div class="menu">
												{{#each days}}<div class="item" data-value="{{this.dayCode}}">{{this.name}}</div>{{/each}}
											</div>
										</div>
									</div>
								</div>
								<div class="w-7-12 columns">
									<div class="field opacity" data-field="time-choice">
										<label>Kick-off</label>
										<div class="flexbox">
											<div class="w-7-12" style="margin: 0;">
												<div class="ui left icon input">
													<input data-field="hour" type="number" value={{hour}} min="0" max="23" step="1" class="input-small">
													<i class="time icon"></i>
												</div>
											</div>
											<div class="w-5-12" style="margin: 0;">
												<div class="ui input">
													<input data-field="minute" type="number" value={{minute}} min="00" max="59" step="5" class="input-small">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</form>
	</template>

		<template name="teamDropDown">
			<div class="ui fluid selection dropdown" data-field="team-choice" title="Select or rename your team">
				<input type="hidden">
				<div class="default text">Select Team</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					{{#each this}}
						{{> dropdownItem}}
					{{/each}}
				</div>
			</div>
		</template>

			<template name="dropdownItem">
				<div class="item" data-value="{{_id}}">{{name}}</div>
			</template>

	<template name="teamSecondLevel">
		<div class="ui form segment content whitetranslucent teamForm">
			<div class="row">
				{{> playerButtons teamId}}
			</div>
			{{#if teamId}}
			<div class="ui fluid green segment" id="memberRingerTable">
				{{> playerTable}}
			</div>	
			{{/if}}
		</div>
	</template>

		<template name="playerButtons">
			<div class="columns">
				<div class="ui four fluid icon buttons">
					<div class="ui icon button attached withLabel{{#unless this}} disabled{{/unless}}{{#if tabChoice 'playersRingers' 'players'}} teal{{/if}}" data-tab="playersRingers" data-tab-selection="players" title="Show all members of this team">
						<i class="users icon"></i>
					</div>
					<div class="ui icon button attached withLabel{{#unless this}} disabled{{/unless}}{{#if tabChoice 'playersRingers' 'ringers'}} teal{{/if}}" data-tab="playersRingers" data-tab-selection="ringers" title="Show all preferred SuprSubs for this team">
						<i class="unordered list icon"></i>
					</div>
					<div class="ui icon button attached withLabel{{#unless this}} disabled{{/unless}}" data-action="send-code" title="Send an invitation for players to join your team as team members or preferred SuprSubs">
						<i class="mail icon"></i>
						<i class="right icon"></i>
					</div>
					<div class="ui icon button attached withLabel" data-action="join-team" title="Enter a code that you have been sent to join a friend's team or register as a SuprSub">
						<i class="right icon"></i>
						<i class="users icon"></i>
					</div>
				</div>
			</div>
		</template>

		<template name="playerTable">
			<table class="ui table">
				<tr><th>{{tableHeader}}</th></tr>
				{{#each tableInfo}}
				<tr><td>{{this.profile.name}}</td></tr>
				{{/each}}
			</table>	
		</template>

	<template name="otherInfo">
		<div class="ui segment content whitetranslucent" id="otherInfo">
			<div class="flexbox wrap">
				<div class="m-1-2-- w-1-2 size-1">
					<form class="ui form segment content">
						<div class="ui form flexbox">
							<div class="field w-7-8">
								<label>Home Ground</label>
								<div class="ui icon input">
									<input type="text" placeholder="Type a description or address" data-field="home-ground-search" title="You can find a venue either using its name (e.g. Powerleague Wembley), or by typing an address or place and hitting the search icon">
									<i class="globe icon"></i>
								</div>
							</div>
							<div class="field w-1-8">
								<div class="ui right attached button withLabel" data-action="search" title="Pan to this location">
									<div class="content"><i class="search icon"></i></div>
								</div>
							</div>
						</div>
					</form>
					{{#if pitchMatches}}
					<div class="ui segment">
						<div id="pitchMatches" class="ui link list">
							{{#each pitchMatches}}
							<a class="item">
								{{this.prettyLocation}}
							</a>
							{{/each}}
						</div>
					</div>
					{{/if}}
					<div class="mini purple ui button bottomRight" data-action="add-venue" title="Click here to add a venue if you can't find it on the map">Add a venue</div>
				</div>
				<div class="ui vertical divider show-for-tablet-up"><i class="map icon"></i></div>
				<div class="m-1-2-- w-1-2 size-1">
					<div id="mapContainer">
<!-- 						{{#if tabChoices 'newVenue'}}
						{{> newVenueBox}}
						{{else}} -->
						{{> pitchMap}}
						<!-- {{/if}} -->
					</div>
				</div>
			</div>
		</div>
	</template>

		<template name="pitchMap">
			<div id="mapHolder" class="with-spinner">
				{{> googleMap name="pitchMap" options=mapOptions}}
				{{> spinner}}
			</div>
		</template>

<template name="chooseCodeTypeModal">
	<i class="close icon"></i>
	<div class="header">
		Choose Invitation Type
	</div>
	<div class="content">
		<div class="left">
			There are two sorts of invitation you can generate:
			<ul>
				<li>An invitation that will allow other players to join your team as a <em>teammate</em>, and will allow them to view and change your team settings.</li>
				<li>An invitation to register as a <em>preferred Suprsub</em> for your team, meaning they can be posted first whenever you're looking for an extra player.  They won't be able to view or edit any of the team details though.</li>
			</ul>
		</div>
	</div>
	<div class="control">
		<div class="ui button" data-action="invite-teammates">Invite Teammates</div>
		<div class="ui button" data-action="invite-suprsubs">Invite Suprsubs</div>
	</div>
</template>

<template name="teammateInvitationModal">
	<i class="close icon"></i>
	<div class="header">
		Teammate Inviation Sent
	</div>
	<div class="content">
		<div class="left">
			An invitation mail has been sent to you via {{contacts}}, containing the team code <strong>{{teamCode}}</strong>.  You can forward this to any team members you'd like to join your team and they can use the attached link to sign up.  If they're already a member, they can simply enter the code by clicking on the <em>Join Team</em> icon and entering it there.
		</div>
	</div>
	<div class="actions">
		<div class="ui button">OK</div>
	</div>
</template>

<template name="suprsubInvitationModal">
	<i class="close icon"></i>
	<div class="header">
		Suprsub Inviation Sent
	</div>
	<div class="content">
		<div class="left">
			An invitation mail has been sent to you via {{contacts}}, containing the Suprsub code <strong>{{teamCode}}</strong>.  You can forward this to anybody you'd like to invite to be a preferred Suprsub and they can use the attached link to sign up.  If they're already a member, they can simply enter the code by clicking on the <em>Join Team</em> icon and entering it there.
		</div>
	</div>
	<div class="actions">
		<div class="ui button">OK</div>
	</div>
</template>

<template name="joinTeamModal">
	<i class="close icon"></i>
	<div class="ui header">
		Join Team
	</div>
	<div class="content">
		<div class="ui form left">
			<legend>Enter the code that your team captain sent you here:</legend>
			<div class="ui input">
				<input type="text" placeholder="Team code..." data-field="team-code">
			</div>
		</div>
	</div>
</template>