#pitchMapContainerSmall {
	width: 470px;
	height: 325px;
}

#pitchMap.small {
	width: 470px;
	margin-left: -235px;	
	height: 325px;
}

#newVenueBox {
	min-height: 325px;
}

.teamForm .ui.toggle.checkbox {
	margin-top: 1.5em;
}

#matches {
	margin-bottom: 1.5em;
}

#matches div div div {
	max-height: 13em;
	overflow-y: scroll;
}

#newVenueBox .ui.input {
	margin-bottom: 0.5em;
}

#dayChoiceSection {

}

#dayChoiceSection .ui.selection {
	width: 125px;
}

#teamName {
	height: 32px;
}

.opacity {
	-webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition : opacity 1s ease;
    transition: opacity 1s ease;
}

.height225 {
	min-height: 225px;
}

.ui.button.bottomRight, .ui.buttons.bottomRight {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

/*For small width screens only*/
@media only screen and (max-width: 40em) {

 	.height225 {
 		min-height: 0;
 	}

}

/*For small and medium width screens*/
@media only screen and (max-width: 64em) {

	#newVenueBox {
		min-height: 0;
	}

}