<head>
	<script type="text/javascript">
		WebFontConfig = {
			google: { families: [ 'Molengo:400,700,400italic,700italic:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})(); 
	</script>
	<title>SuprSub</title>
	<meta name=”description” content=”Find football players or teams at short notice to fill the gaps in your team or calendar”>
	<link rel="icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/suprsubS.ico?v=3">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png" />
	<meta name="viewport" content="width=640, user-scalable=no">
</head>

<template name="mainTemplate">
	<div id="wrapper">
		{{> topbar}}
		{{> yield region='mainSection'}}
	</div>
</template>

<template name="topbar">
	<div class="ui darkgreen fixed inverted main menu" id="topbar">
		<span class="item" href="{{pathFor 'home'}}">
			<i class="suprsub icon"></i>
		</span>	
		{{#if currentUser}}	
		<a class="{{#if option "/home"}}active {{/if}}{{#if option "/home"}}active {{/if}}item" href="{{pathFor 'home'}}">
			<i class="home icon"></i> Home
		</a>
		<a class="{{#if option "/player"}}active {{/if}}item" href = "{{pathFor 'playerDetails'}}">
			<i class="user icon"></i> Player
		</a>
		<a class="{{#if option "/team"}}active {{/if}}item" href="{{pathFor 'teamDetails'}}">
			<i class="users icon"></i> Team
		</a>
		<a class="{{#if option "/about"}}active {{/if}}item" href="{{pathFor 'about'}}">
			<i class="book icon"></i> About
		</a>
		<a class="{{#if option "/settings"}}active {{/if}}item" href="{{pathFor 'settings'}}">
			<i class="settings icon"></i> Settings
		</a>
		{{/if}}
		<div id="toplogo-image-temp" style="display: none;">SuprSub</div>
		<div class="right menu">
			{{#if currentUser}}
			<div class="svg item" id="socialItem">
				<span><a target="_blank" href="https://twitter.com/intent/tweet?source=tweetbutton&text=Surbsub+-+Play+more+football.+Find+a+SuprSub+in+seconds.+Be+a+SuprSub+wherever+and+whenever+suits+you.&url=http://supsub.com" class="webicon twitter" onclick="window.open(this.href, 'mywin', 'left='+(window.screen.availWidth/2-250)+',top='+(window.screen.availHeight/2-130)+',width=500,height=260,toolbar=0,resizable=0'); return false;">Share on Twitter</a></span>
				<span><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=www.facebook.com/suprsub" class="webicon facebook" onclick="window.open(this.href, 'mywin', 'left='+(window.screen.availWidth/2-193)+',top='+(window.screen.availHeight/2-184)+',width=386,height=368,toolbar=0,resizable=0'); return false;">Like us on Facebook</a></span>	
				<span><a  class="webicon googleplus" href="https://plus.google.com/101364442543045043399/about?prsrc=3" rel="publisher" target="_blank">Add us on Google+</a></span>				
			</div>
			<div class="item" id="delete-holder">
    			<div class="ui red button" id="delete-button">Delete Account</div>
  			</div>
  			<div class="item" id="logout-holder">
    			<div class="ui button" id="logout-button">Log Out</div>
  			</div>
			{{else}}
			<div class="item">
				<div class="ui icon input">
					<input type="email" placeholder="Email" id="login-email">
					<i class="user link icon"></i>
				</div>
				</div>
				<div class="item">
				<div class="ui icon input">
					<input type="password" placeholder="Password" id="login-password">
					<i class="lock link icon"></i>
				</div>				
			</div>
  			<div class="item">
    			<div class="ui button" id="login-button">Log In</div>
  			</div>
  			{{/if}}
		</div>
	</div>
</template>

<template name="generalConfirmModalWrapper">
	<div class="ui small modal" id="generalConfirmModal">
	{{>generalConfirmModal}}
	</div>	
</template>

<template name="generalConfirmModal">
	<div class="grid">
		<div class="ui row">
			<div class="ui column">
				{{{message}}}
			</div>
		</div>
  		<div class="ui negative button" id="generalConfirmCancel">
  			<i class="remove icon"></i>
  			Cancel
  		</div>
  		<div class="ui orange button" id="generalConfirmOkay">
  			<i class="checkmark icon"></i>
  			Okay
  		</div>
	</div>
</template>

<template name="socialBox">
	<div id="socialBox" class="show-for-large-up">
		<div class="svg">
			<div><a target="_blank" href="https://twitter.com/intent/tweet?source=tweetbutton&text=Surbsub+-+Play+more+football.+Find+a+SuprSub+in+seconds.+Be+a+SuprSub+wherever+and+whenever+suits+you.&url=http://supsub.com" class="webicon twitter large" onclick="window.open(this.href, 'mywin', 'left='+(window.screen.availWidth/2-250)+',top='+(window.screen.availHeight/2-130)+',width=500,height=260,toolbar=0,resizable=0'); return false;">Share on Twitter</a></div>
			<div><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=www.facebook.com/suprsub" class="webicon facebook large" onclick="window.open(this.href, 'mywin', 'left='+(window.screen.availWidth/2-193)+',top='+(window.screen.availHeight/2-184)+',width=386,height=368,toolbar=0,resizable=0'); return false;">Like us on Facebook</a></div>	
			<div><a  class="webicon googleplus large" href="https://plus.google.com/101364442543045043399/about?prsrc=3" rel="publisher" target="_blank">Add us on Google+</a></div>
		</div>
	</div>
</template>