<template name="loading">
	<div id="wrapper">
		{{#unless smallScreen}}
			{{> topbar}}
		{{else}}
			{{> sidebar}}
			{{> miniTopbar}}
		{{/unless}}
		<div id="main-background-image"></div>
		<div class="row">
			<div class="grid">
			  	<div class="ui small-12 medium-14 large-16 small-centered" id="loadingAnimation">
				  	<div class="ui active dimmer">
					  	<div class="loader">Loading</div>
				    	<!-- <div class="ui text loader">Loading</div> -->
				  	</div>
			  	</div>
		  	</div>
	  	</div>
  	</div>
</template>