<template name="MasterLayout">
	{{#if smallScreen}}
		{{#if currentUser}}
			{{> sidebar}}
		{{/if}}
	{{/if}}
	<div class="pusher">
		<div id="wrapper">
			{{#unless smallScreen}}
				{{> topbar}}
			{{else}}
				{{> miniTopbar}}
			{{/unless}}
			{{> yield}}
		</div>
	</div>
</template>

<template name="topbar">
	<div class="ui darkgreen fixed inverted main menu" id="topbar">
		<div class="flexbox full-height h-space-between v-center pad-top">
			<div>
				<span class="item" href="{{pathFor 'home'}}">
					<i class="big icon-suprsub"></i>
				</span>
				{{#if currentUser}}
				<a class="{{#if option "/home"}}active {{/if}}{{#if option "/home"}}active {{/if}}item" href="{{pathFor 'home'}}">
					<i class="home icon"></i> <span class="show-for-tablet-up">Home</span>
				</a>
				<a class="{{#if option "/player"}}active {{/if}}item" href = "{{pathFor 'player'}}">
					<i class="user icon"></i> <span class="show-for-tablet-up">Player</span>
				</a>
				<a class="{{#if option "/team"}}active {{/if}}item" href="{{pathFor 'team'}}">
					<i class="users icon"></i> <span class="show-for-tablet-up">Team</span>
				</a>
				<a class="{{#if option "/about"}}active {{/if}}item" href="{{pathFor 'about'}}">
					<i class="book icon"></i> <span class="show-for-tablet-up">About</span>
				</a>
				<a class="{{#if option "/settings"}}active {{/if}}item" href="{{pathFor 'settings'}}">
					<i class="settings icon"></i> <span class="show-for-tablet-up">Settings</span>
				</a>
				{{/if}}
			</div>
			<div>
				<div class="svg flexbox v-center">
					<a class="vertical-item webicon twitter hide-for-small-screen" target="_blank" href="https://twitter.com/intent/tweet?source=tweetbutton&text=Check+out+this+brilliant+new+footy+platform+-+you+can+sign+up+in+seconds!+@suprsub&url=http://suprsub.com" onclick="window.open(this.href, 'mywin', 'left='+(window.screen.availWidth/2-250)+',top='+(window.screen.availHeight/2-130)+',width=500,height=260,toolbar=0,resizable=0'); return false;">Share on Twitter</a>
					<a class="vertical-item webicon facebook hide-for-small-screen" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=www.facebook.com/suprsub" onclick="window.open(this.href, 'mywin', 'left='+(window.screen.availWidth/2-193)+',top='+(window.screen.availHeight/2-184)+',width=386,height=368,toolbar=0,resizable=0'); return false;">Like us on Facebook</a>
					<a class="vertical-item webicon googleplus hide-for-small-screen" href="https://plus.google.com/101364442543045043399/about?prsrc=3" rel="publisher" target="_blank">Add us on Google+</a>
					{{#if currentUser}}
					<form>
			    		<div class="ui button" data-action="log-out">Log Out</div>
		  			</form>
					{{else}}
					<form>
						<div class="ui icon input">
							<input type="email" placeholder="Email" data-field="email" name="email" autocomplete="on">
							<i class="user link icon"></i>
						</div>
						<div class="ui icon input">
							<input type="password" placeholder="Password" data-field="password">
							<i class="lock link icon"></i>
						</div>
		    			<div class="ui button" data-action="log-in">Log In</div>
		  			</form>
		  			{{/if}}
	  			</div>
			</div>
		</div>		
	</div>
</template>

<template name="miniTopbar">
	<div class="ui darkgreen fixed inverted main menu" id="miniTopbar">
		{{#if currentUser}}
		<div class="flexbox full-height h-space-between v-center pad-top">
			<div class="item"><i class="content icon" data-action="show-sidebar"></i></div>
			<div class="item"><i class="big icon-suprsub icon"></i></div>
		</div>
		{{else}}
			<span class="left item">
			</span>
			<span class="right menu">
	  			<span class="item">
	    			<div class="ui tiny button" data-action="show-login">Log In</div>
	  			</span>
			</span>
		{{/if}}
	</div>
</template>

<template name="sidebar">
	<div class="ui inverted darkgreen thin sidebar menu" id="sidebar">
		<div class="item" href="{{pathFor 'home'}}">
			<i class="suprsub icon"></i>
		</div><hr>
		{{#if currentUser}}
		<a class="{{#if option "/home"}}active {{/if}}{{#if option "/home"}}active {{/if}}item" href="{{pathFor 'home'}}">
			<i class="home icon"></i> Home
		</a>
		<a class="{{#if option "/player"}}active {{/if}}item" href="{{pathFor 'player'}}">
			<i class="user icon"></i> Player
		</a>
		<a class="{{#if option "/team"}}active {{/if}}item" href="{{pathFor 'team'}}">
			<i class="users icon"></i> Team
		</a>
		<a class="{{#if option "/about"}}active {{/if}}item" href="{{pathFor 'about'}}">
			<i class="book icon"></i> About
		</a>
		<a class="{{#if option "/settings"}}active {{/if}}item" href="{{pathFor 'settings'}}">
			<i class="settings icon"></i> Settings
		</a>
  		<div class="item" id="logout-holder">
    			<span><div class="ui tiny button" id="logout-button">Log Out</div></span>
  		</div>
		{{/if}}
	</div>
</template>

<template name="loginModal">
  	<div class="content">
      	<div class="ui header">Please enter your email and password</div>
      	<div class="ui form">
			<div class="ui icon input field">
				<input type="email" placeholder="Email" id="login-email" data-field="email">
				<i class="user link icon"></i>
			</div>
			<div class="ui icon input field">
				<input type="password" placeholder="Password" id="login-password" data-field="password">
				<i class="lock link icon"></i>
			</div>
		</div>
  	</div>
	<div class="actions">
		<div class="item">
			<div class="ui tiny button" data-action="login">Log In</div>
		</div>
	</div>
</template>